<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airhost | Holiday rentals,cabins,beach house & moret</title>
    <link rel=" icon" type="image/png" href="public/ffb9bc06766fd2534983c893e5758306.png" />
    <link href="public/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/rating.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    
</head> 
<body>
  <div class="flex w-full flex-wrap items-center justify-between mt-1 ">
    <div class="ml-[3rem] mt-[12px]  flex ">
      <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] " data-te-navbar-nav-ref>
          <a class=" mt-2 font-semibold text-cyan-800 text-xl" href="/Airbnb.org-emergency-stays" data-te-nav-link-ref><p class="text-4xl">airhost.org</p></a>
                 
        <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] justify-end ml-[48rem]" data-te-navbar-nav-ref>
          <div class=" flex rounded-3xl pr-3  font-semibold text-lg  justify-end ">
            <a class=" mt-2" href="/Airbnb.org-emergency-stays" data-te-nav-link-ref>Get involved </a>
          </div>
          <div class=" flex rounded-3xl pr-3 font-semibold text-lg  justify-end ">
            <a class="ml-3 mt-2" href="/Airbnb.org-emergency-stays" data-te-nav-link-ref>Who we are</a>
          </div>
              <div class="border-[0.3px] border-black  flex rounded-3xl mt-2 ml-[2rem] pr-2 pl-2 h-[2rem]  justify-end">
          
                <div data-te-nav-item-ref>
                  <a class=" text-black" aria-current="page" href="/signup" data-te-nav-link-ref><b>Sign up</b></a>
                  <var class="border-[0.9px] ml-1 mr-1 h-[4rem] border-black"> </var>
                </div>
                <div  data-te-nav-item-ref>
                  <a class=" " href="/login" data-te-nav-link-ref><b>Log in</b></a>
                </div>
             
              </div>
        </div> 
      </div> 
    </div>
  </div>


<p class="mx-auto text-center mt-[4rem] text-7xl text-cyan-800 font-semibold">Three years of impact</p>
<p class="mx-auto text-center text-3xl font-semibold mt-[1rem]">Our first-ever impact report reflects the power of community in </p>
<p class="mx-auto text-center text-3xl font-semibold">times of crisis.</p>
<div class="mx-auto text-center  mt-[1rem] w-[15rem]">
  <button class="mx-auto text-center align-middle w-[12rem] border-2 p-2 border-black rounded-lg">Read the report</button>
</div>


<img src="https://a0.muscache.com/im/pictures/mediaverse/dot-org-featured-content/original/28633c97-0622-421e-a36e-a184f45c2486_en-US.jpeg?im_q=highq&im_w=1200" class="mx-auto text-center mt-[2rem] w-[70rem] h-[40rem]">

<div class="border-[9px] mt-[4rem] border-cyan-700 ml-[5rem] w-[80rem] h-[30rem] flex">
  <div>
    <p class="text-5xl font-semibold mt-[4rem] ml-[3rem] text-cyan-800">Airhost.org’s mission is to <br> unlock the power of sharing <br> space, resources, and <br> support in times of need.</p>
    <p class="border-b-2 border-cyan-700 w-fit text-cyan-800 ml-[8rem] mt-[3rem]">Learn more</p>
  </div>
 
  <div>
    <img src="https://a0.muscache.com/im/pictures/927bbb7b-f94f-462b-a501-a7880303e6d8.jpg?im_w=720" class="w-[40rem] h-[45rem] ml-[3rem]">
  </div>
</div>

<p class="ml-[3rem] mt-[3rem] text-4xl font-semibold">Meet our community</p>
<p class="ml-[3rem] mt-[12px] opacity-65 text-2xl">Airhost.org Hosts and guests are at the heart of our mission.</p>

<div class="flex ">
  <div>
    <img src="https://a0.muscache.com/im/pictures/ee2708e7-bb64-47d4-931b-cea91be2e6b4.jpg?im_w=720&im_q=highq" class="ml-[2rem] w-[37rem] mt-[2rem]">
  </div>

  <div>
    <p class="mt-[7rem] ml-[9rem] font-semibold text-4xl text-cyan-800  p-10 bg-cyan-50 rounded-lg">We’ve provided over 1.4 million <br> nights of free emergency <br>
      stays to more than 220,000 <br>
      people since our founding in <br> 2020.
    </p>
  </div>
</div>

<div class="flex">
  <div class="mt-[2rem]">
    <p class="ml-[3rem]  text-4xl font-semibold">Airhost.org’s impact in 2022</p>
    <p class="ml-[3rem] mt-[12px] opacity-65 text-2xl">
      Thanks to our global community of Hosts, donors, <br> and partner organizations, 
       Airbnb.org was <br> able to connect more than  140,000 <br> people with temporary  housing.</p>
    <p class="mt-[1rem] text-black border-b-[1px] w-fit ml-[3rem] border-black">Meet Mary and Dima</p>
  </div>

  <div>
    <img src="https://a0.muscache.com/im/pictures/e89a7a84-d5a7-4e14-b3c0-b659b310deb5.jpg?im_w=720&im_q=highq" class="w-[39rem] ml-[12rem] h-[27rem]">
    <p class="ml-[9rem] mt-[2rem]  text-4xl font-semibold">Responding to the Ukraine crisis</p>
    <p class="ml-[10rem] mt-[12px] opacity-65 text-xl">
      Airbnb.org has helped more than 135,000 people fleeing the war find places to stay.</p>
    <p class="mt-[1rem] text-black border-b-[1px] w-fit ml-[10rem] border-black">Meet Rafał</p>
  </div>
</div>


<div class="flex">
<div  class="ml-[3rem] -mt-[14rem]">
  <img src="https://a0.muscache.com/im/pictures/b2f3d39e-b8a6-4fbb-86e2-cd7871f68595.jpg?im_w=720&im_q=highq" class="w-[39rem] h-[27rem]">
<p class=" mt-[2rem]  text-4xl font-semibold">The forces of nature, community, <br> and kindness</p>
<p class=" mt-[12px] opacity-65 text-xl">
  How Carmen and her community came together after <br> Hurricane Maria.</p>
<p class="mt-[1rem] text-black border-b-[1px] w-fit  border-black">Meet Carmen</p>
</div>
<div>
  <img src="https://a0.muscache.com/im/pictures/62756ac0-24c1-415c-a540-97740309ceb4.jpg?im_w=720&im_q=highq" class="w-[39rem] h-[27rem] ml-[5rem] mt-[9rem]">
  <p class=" mt-[2rem] ml-[5rem]  text-4xl font-semibold">Relief workers providing long-term aid</p>
<p class=" mt-[12px] ml-[5rem] opacity-65 text-xl">
  It can take years for a community to fully recover from a major disaster.<br>  Airhost.org helps fund stays for relief workers who are doing critical work to <br> rebuild communities.</p>
<p class="mt-[1rem] ml-[5rem]  text-black border-b-[1px] w-fit  border-black">Meet Carmen</p>
</div>
</div>

<div  class="ml-[3rem] -mt-[18rem]">
  <img src="https://a0.muscache.com/im/pictures/d98da643-5e1c-427d-bd4d-5a5a9e39acce.jpg?im_w=720&im_q=highq" class="w-[39rem] h-[27rem]">
<p class=" mt-[2rem]  text-4xl font-semibold">Communities impacted by disasters</p>
<p class=" mt-[12px] opacity-65 text-xl">
  We give communities a way to come together when disasters strike. Through <br>
   Airbnb.org programs, people can offer their homes for free to neighbors who <br>
    need to evacuate.</p>
<p class="mt-[1rem] text-black border-b-[1px] w-fit  border-black">Meet Bob and Juan</p>
</div>


<div class="mt-[4rem] border-2 border-cyan-800 bg-cyan-800 flex">
  <div>
    <img src="https://a0.muscache.com/im/pictures/d620d463-b55e-4b5c-ae80-d561a0675449.jpg?im_w=960" class="w-[40rem] h-[28rem]">
  </div>
  <div class="text-white ml-[4rem] mt-[5rem] ">
    <p class="  text-4xl ">Creating a world rooted in belonging: <br>  Airhost.org’s commitments</p>
    <p class="mt-[2rem] text-lg">Today, building upon 8 years of learnings and experiences, we’re announcing a series <br>
      of commitments to diversity, equity, and inclusion.</p>
    <p class="border-b-[2px] border-white w-fit  mt-[1rem] ">Learn more</p>
  </div>
</div>

<div class="border-[9px] mt-[4rem] border-cyan-700 ml-[5rem] w-[80rem] h-[30rem] flex">
  <div>
    <p class="text-5xl font-semibold mt-[4rem] ml-[3rem] text-cyan-800">We help other nonprofits <br> make a lasting impact.</p>
    <p class="border-b-2 border-cyan-700 w-fit text-cyan-800 ml-[8rem] mt-[3rem]">Learn more</p>
  </div>
 
  <div>
    <img src="https://a0.muscache.com/pictures/9ae93692-5e94-40f0-baa6-3131a286e5e7.jpg?im_w=720" class="w-[40rem] h-[45rem] ml-[3rem]">
    <p class=" ml-[9rem] font-semibold text-4xl text-cyan-800  p-10 bg-cyan-50 rounded-lg">Meet a few partners who <br> helped shape Airbnb.org.</p>
  </div>
</div>


<div class="flex ml-[3rem] mt-[3rem]">
  <div>
    <p class="text-2xl font-bold">International Rescue <br> Committee</p>
    <p class="text-lg opacity-60 mt-[12px]">The IRC responds to the world’s worst <br>
      humanitarian crises, and helps people <br>
      whose lives and livelihoods are shattered <br>
      by conflict and disaster to survive, recover, <br>
       and gain control of their future.</p>
       <p class="mt-[1rem] font-bold">rescue.org</p>
  </div>
  <div class="ml-[2rem]">
    <p class="text-2xl font-bold ">HIAS</p>
    <p class="text-lg opacity-60 mt-[12px]">HIAS is a global Jewish nonprofit <br>
      organization that provides protection and <br>
       assistance to refugees, asylum seekers, <br>
        and other forcibly displaced populations <br>
        around the world.</p>
       <p class="mt-[1rem] font-bold">hias.org </p>
  </div>
</div>

<div class="flex ml-[3rem] mt-[3rem]">
  <div>
    <p class="text-2xl font-bold">Build Change</p>
    <p class="text-lg opacity-60 mt-[12px]">Build Change is a disaster prevention and <br> 
      recovery organization that designs resilient <br>
      housing solutions with local communities.</p>
       <p class="mt-[1rem] font-bold">buildchange.org</p>
  </div>
  <div class="ml-[2rem]">
    <p class="text-2xl font-bold ">Community Sponsorship <br> Hub</p>
    <p class="text-lg opacity-60 mt-[12px]">Community Sponsorship Hub creates <br>
       opportunities for communities across the <br>
        United States to welcome refugees and <br>
         other displaced people.</p>
       <p class="mt-[1rem] font-bold">communitysponsorshiphub.org</p>
  </div>
</div>

<p class="mx-auto text-center mt-[4rem] text-7xl text-cyan-800 font-semibold">How can you help?</p>

<div class="flex ml-[3rem] mt-[5rem]">
  <div class="border-[7px] border-cyan-800 w-[35rem] h-[13rem]">
    <p class="text-cyan-800 text-2xl ml-[3rem] mt-[2rem] font-bold">I can donate</p>
    <p class="mt-[1rem]  ml-[3rem]">In times of crisis, your donation helps people find a place to call home.</p>
    <button class="border-[2px] border-black p-2 mt-[1rem] ml-[3rem] bg-black text-white rounded-lg">Donate now</button>
  </div>
  <div class="border-[7px] border-cyan-800 w-[35rem] h-[13rem] ml-[5rem]">
    <p class="text-cyan-800 text-2xl ml-[3rem] mt-[2rem] font-bold">I can host</p>
    <p class="mt-[1rem]  ml-[3rem]">Join over 100,000 hosts and give people a free place to stay when they need it most.</p>
    <button class="border-[2px] border-black p-2 mt-[1rem] ml-[3rem] bg-black text-white rounded-lg">offer your space</button>
  </div> 
</div>






  <p class="mt-[7rem] border-[0.8px]" ></p>
  <div class="flex mt-7">
    <div class="ml-7  max-[995px]:-ml-[3rem]">
        <p class="ml-[6rem] mt-4 font-semibold">Support</p>
        <form method="GET" action="/artical4">
        <button  class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px]  mt-1">Help Centre<button>
        </form>

        <form method="GET" action="/AirCover">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover</button>
        </form>

        <form method="GET" action="/Anti-discrimination">
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Anti-discrimination</button>
        </form>

        <form method="GET" action="/Disability-support">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Disability support</button>
        </form>

        <form method="GET" action="/Cancellation-options">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Cancellation options</button>
        </form>

        <form method="GET" action="/Report-neighbourhood-concern">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Report neighbourhood concern</button>
        </form>
    </div>

    <div class="ml-[10rem]  max-[1190px]:ml-[2rem] max-[900px]:-ml-[3rem] max-[830px]:-ml-[5rem]">
        <p class="ml-[6rem] mt-4 font-semibold">Hosting</p>
        <form method="GET" action="/Airbnb-your-home">
            <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] mt-1">Airhost your home</button>
        </form>

        <form method="GET" action="/AirCover-for-Hosts">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover for Hosts</button>
        </form>

        <form method="GET" action="/Hosting-resources">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting resources</button>
        </form>

        <form >
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Community forum</button>
        </form

        <form method="GET" action="/Hosting-responsibly">
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting responsibly</button>
        </form>
    </div>

    <div class="ml-[12rem] max-[1190px]:ml-[3rem]  max-[830px]:-ml-[25px]">
        <p class="ml-[6rem] mt-4 font-semibold">Airbnb</p>
        <form method="GET" action="/Newsroom">
        <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] w-20 mt-1">Newsroom</button>
        </form>

        <form method="GET" action="/New-features">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-28 mt-2">New features</button>
        </form>

        <form method="GET" action="/Careers">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Careers</button>
        </form>

        <form method="GET" action="/Investors">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Investors</button>
        </form>

        <form method="GET" action="/Airbnb.org-emergency-stays">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Airhost.org emergency stays</button>
        </form>
    </div>
</div> 

 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
<p class="mt-7 border-[0.1px] border-gray-300" ></p>
<div class = "f-info flex h-[8rem] flex-wrap justify-center text-center align-center ">
    <div class ="f-info-socials w-[100%] text-xl flex items-center justify-center">
        <form method="get" action="https:www.facebook.com/AirbnbIndia">
            <button class="fa-brands fa-square-facebook mr-2"></button>
        </form>
        <form method="get"  action="https:www.instagram.com/airbnb/">
            <button class="fa-brands fa-square-instagram mr-2"></button>
        </form>
        <form method="get" action="https:twitter.com/i/flow/login?redirect_after_login=%2Fairbnb_in" >
            <button class="fa-brands fa-square-twitter"></button>
        </form>
        <form method="get" action="https:www.linkedin.com/company/airbnb/" >
            <button class="fa-brands fa-linkedin ml-[8px]"></button>
        </form>
    </div>
    <div class="f-info-brand  w-[100%] justify-center  align-middle flex items-center ">&copy; Wanderlust Private Limited</div>
    <div class ="f-info-links hover:underline w-[100%] align-middle flex items-center justify-center">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div> 


</body>
</html>