<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airhost | Holiday rentals,cabins,beach house & more</title>
    <link rel=" icon" type="image/png" href="public/ffb9bc06766fd2534983c893e5758306.png" />
    <link href="public/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/rating.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    
</head> 
<body>
  <div class="flex w-full flex-wrap items-center justify-between mt-1 ">
    <div class="ml-16  flex ">
         <a class="text-4xl text-black" href="/artical4"><i class="fa-brands fa-airbnb"></i></a>
      <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] " data-te-navbar-nav-ref>
          <a class="ml-1 mt-2 font-semibold text-black text-xl" href="/artical4" data-te-nav-link-ref><pre class="font-serif">Help center</pre></a>

          <form >   
            <div class="relative ml-[20rem] ">
               <input type="text" onclick="hideShow1()"  class="block text-black  border-[0.1px] relative hover:border-[2px] border-black rounded-full h-[2.5rem] w-[20rem]" placeholder="Search how-tos and more">
               <button onclick="hideShow1()" class="fa-solid fa-magnifying-glass absolute border-[0.1px] hover:border-[2px] text-[#f9f9f9] bg-red-600  border-black rounded-full bottom-1.5 ml-[280px] pb-[25px] top-[2px] p-[9px]" ></button>
            </div>

<div id="search" class="border-[0.2px] hidden absolute border-black rounded-2xl bg-[#f7f7f7] shadow-2xl w-[38rem] h-[17rem] ml-[20rem] pt-[1rem] pl-[4rem]">
  <div onclick="hideShow1()" class="absolute top-3 right-3 w-max  hover:bg-white" >
    <div role="button" class="w-max pl-1 pr-1">
       <i class="fa-solid fa-circle-xmark text-xl"></i>
    </div>
</div> 
  <div class="flex mt-[20px]">
    <i class="fa-solid fa-newspaper border-[0.1px] border-black rounded-xl p-[12px] bg-gray-200"></i> <a href="/artical1" class="mt-[8px] ml-[1rem] text-lg">Cancelling your reservation for a stay</a>
  </div>
  <div class="flex mt-[20px]">
    <i class="fa-solid fa-newspaper border-[0.1px] border-black rounded-xl p-[12px] bg-gray-200"></i> <a href="/artical2" class="mt-[8px] ml-[1rem] text-lg">Change the date or time of your Experience reservation</a>
  </div>
  <div class="flex mt-[20px]">
    <i class="fa-solid fa-newspaper border-[0.1px] border-black rounded-xl p-[12px] bg-gray-200"></i>  <a href="/artical3" class="mt-[8px] ml-[1rem] text-lg">If your Host cancels your reservation</a>
  </div>
  </div>
  
  
         </form>
            
        <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] justify-end  ml-[18rem]" data-te-navbar-nav-ref>
            <div class=" flex rounded-3xl pr-2  justify-end ">
                  <a class=" mt-2" href="/listings/new" data-te-nav-link-ref>Airhost your home</a>
            </div>
              <div class="border-[0.3px] border-black  flex rounded-3xl mt-1 pr-2 pl-2 h-[2rem]  justify-end">
          
                <div data-te-nav-item-ref>
                  <a class=" text-black" aria-current="page" href="/signup" data-te-nav-link-ref><b>Sign up</b></a>
                  <var class="border-[0.9px] ml-1 mr-1 h-[4rem] border-black"> </var>
                </div>
                <div  data-te-nav-item-ref>
                  <a class=" " href="/login" data-te-nav-link-ref><b>Log in</b></a>
                </div>
             
              </div>
        </div> 
      </div> 
    </div>
  </div>
<p class="border-[0.1px] mt-5 border-black"> </p>
 

<div class="flex text-sm mt-6 ml-[9rem] "> 
  <a href="#home" class="ml-[1rem]  "> Home</p><p class="ml-[5px]"> ></a> 
  <p class="ml-[1rem]  "> All topics</p>  <p class="ml-[5px]"> ></p> 
  <p class="ml-[1rem] "> Your reservations</p><p class="ml-[5px]"> ></p> 
  <p class="ml-[1rem] "> Cancellation</p><p class="ml-[5px]"> ></p> 
  <p class="ml-[1rem]  "> Policies</p> <p class="ml-[5px]"> ></p> 
  <p class="ml-[1rem]  "> Extenuating Circumstances Policy and the coronavirus (COVID-19)</p> <p class="ml-[5px]"> ></p> 
</div>

<p class=" ml-[9rem] text-md mt-[1rem] opacity-60">Community policy</p>

<div class="flex">
<p class="ml-[9rem] text-4xl font-semibold mt-[1rem]">Extenuating Circumstances Policy and the  <br> coronavirus (COVID-19)</p>
<div class="border-[0.1px] border-black rounded-xl p-[1rem] ml-[7rem] ">
<p >Get help with your reservations, account,<br> and more.</p>
<div class="flex">
  <form action="/login">
    <button class=" border-[0.8px] bg-red-500 hover:bg-red-700 hover:border-red-600 ml-[1rem] w-[6rem] text-white rounded-xl shadow-lg mt-3 p-2 ">Log in</button>
  </form>
  <form action="/signup">
    <button class=" border-[0.8px] bg-red-500 ml-[2rem] hover:bg-red-700 hover:border-red-600 w-[6rem] text-white rounded-xl shadow-lg mt-3 p-2 "> sign up</button>
  </form>
</div>
</div>
</div>

<div class=" border-[1.5px] rounded-xl p-[16px] pl-[1rem]  ml-[9rem] w-[47rem]">
  <i class="fa-solid fa-file text-orange-400 mr-[12px]"></i>Note: As of 31 May 2022, we have updated COVID-19 coverage under our <b>extenuating <br>circumstances policy: </b><br>
  • For reservations made on or after 31 May 2022, the below COVID-19-related <br>circumstances are no longer covered. Instead, the Host’s cancellation policy will apply as <br> usual. <br>
  • For reservations made before 31 May 2022, the below COVID-19-related circumstances <br> will continue to be covered. <br>
  Different policies apply for <b> Luxe reservations </b>and <b>domestic reservations in South Korea.</b>
</div>

<p class="mt-[2rem] font-light text-lg ml-[9rem]">Updated 31 May 2022</p>

<p class="mt-[2rem] font-light text-lg ml-[9rem]">On 11 March 2020, the World Health Organization (WHO) declared the outbreak of <br>
  coronavirus, known as COVID-19, to be a global pandemic. Since then, the outbreak  <br> 
  evolved rapidly with governments around the world taking swift action to slow the <br> 
  spread of COVID-19.
</p>

<p class="mt-[2rem] font-light text-lg ml-[9rem]">
  In response, we have provided the following coverage for COVID-19 under our <br> 
  extenuating circumstances policy to help protect our community and provide peace <br> 
  of mind.
</p>


<div class=" border-[1.5px] rounded-xl p-[16px] pl-[1rem] mt-[3rem] ml-[9rem] w-[47rem]">
  <i class="fa-regular fa-lightbulb  text-orange-400 mr-[12px]"></i>
 Tip: If you’re a guest, you can find cancellation and refund options by going to the Trips <br> 
  page and choosing your trip – find out how. If you’re a Host, you’ll find information in your <br>
  hosting dashboard.
</div>

<p class="ml-[9rem] mt-[1rem] text-2xl"> summary </p>
<P class="ml-[9rem] mt-[1rem] text-lg font-light">Reservations for stays and Airbnb Experiences made on or before 14 March 2020, with <br>
   a check-in date within the next 45 days from today, are covered by the policy and may <br>
   be cancelled before check-in. Guests who cancel will have cancellation and refund <br>
   options and Hosts can cancel without charge or impact to their Superhost status if <br>
   they can provide valid proof that they qualify. Airbnb will either refund you or issue <br>
    travel credit that includes all service fees for covered cancellations. In order to cancel <br>
    under the policy, you will be required to attest to the facts of and/or provide <br> 
    supporting documentation for your circumstance.
</P>

<p class="ml-[9rem] mt-[1rem] text-lg font-light">The Host’s cancellation policy will apply as usual to reservations made after 14 March 2020 <br>
   and before 31 May 2022, except where a guest or Host is sick with COVID-19.
</p>

<p class="ml-[9rem] mt-[1rem] text-lg font-light">For reservations made on or after 31 May 2022, the Host’s cancellation policy will apply. <br> 
  COVID-19-related circumstances will not be covered.
</p>


<p class="ml-[9rem] mt-[1rem] text-lg font-light">Cancellations will be handled according to the extenuating circumstances coverage in <br> 
  effect at the time of submission, and reservations that were already cancelled will not <br> 
   be reconsidered.
</p>


<p class="ml-[9rem] mt-[1rem] text-lg font-light">If a reservation has already begun (the check-in time has passed), this extenuating  <br> 
  circumstance does not apply.
</p>


<p class="ml-[9rem] mt-[1rem] text-lg font-light"> Different policies apply for <b>domestic reservations in South Korea </b>and <b> Luxe <br> reservations.</b> 
</p>


<p class="ml-[9rem] mt-[2rem] text-2xl font-semibold"> What reservations are covered</b> 
</p>

<p class="ml-[9rem] mt-[2rem] text-xl font-semibold">Reservations made on or before 14 March 2020</p>



<p class="ml-[9rem] mt-[1rem] text-lg font-light">Reservations for stays and Airbnb Experiences made on or before 14 March 2020, with <br> 
  a check-in date within the next 45 days from today, may be cancelled before check-in.<br> 
   This means that guests who cancel under the policy will receive a full cash refund or <br>
    travel credit in the amount they paid (where travel credit is available), Hosts can cancel <br> 
    under the policy without charge or impact to their Superhost status, and Airbnb will  <br> 
    either refund all service fees or issue travel credit in an amount that includes them.
</p>


<p class="ml-[9rem] mt-[1rem] text-lg font-light"> Reservations for stays and Airbnb Experiences made on or before 14 March 2020, with <br> 
  a check-in date more than 45 days from today, are not currently covered for COVID- <br> 
  19-related circumstances. The Host’s cancellation policy will apply as usual.
</p>

<p class="ml-[9rem] mt-[1rem] text-lg font-light"> If a reservation has already begun (the check-in time has passed), this extenuating  <br> 
  circumstance does not apply.
</p>


<p class="ml-[9rem] mt-[3rem] text-xl font-semibold">Reservations made after 14 March 2020 and before 31 May 2022</p>
<p class="ml-[9rem] mt-[1rem] text-lg font-light"> For reservations for stays and Airbnb Experiences made after 14 March 2020 and <br> 
  before 31 May 2022, the Host's cancellation policy will apply as usual and COVID-<br> 
  19-related circumstances will not be covered under our extenuating circumstances <br>
  policy, except where the guest or Host is currently sick with COVID-19.<br> 
   COVID-19-related circumstances not covered include: transport disruptions and cancellations;<br>
    travel advisories and restrictions; health advisories and quarantines; changes to <br>
     applicable law; and other government mandates, such as evacuation orders, border <br> 
     closures, prohibitions on short-term rentals and lockdown requirements.
</p>


<p class="ml-[9rem] mt-[3rem] text-lg font-semibold">Reservations made on or after 31 May 2022</p>
<p class="ml-[9rem] mt-[1rem] text-lg font-light"> For stays and Airbnb Experiences made on or after 31 May 2022, the Host’s <br> 
   cancellation policy will apply. COVID-19-related circumstances will not be covered <br> 
   under our extenuating circumstances policy.
</p>


<p class="ml-[9rem] mt-[1rem] text-lg font-light"> Our extenuating circumstances policy is intended to protect guests and Hosts from <br> 
   unforeseen circumstances that arise after booking. After the declaration of COVID-19 <br>
   as a global pandemic by the World Health Organization, the extenuating <br> 
    circumstances policy no longer applies because COVID-19 and its consequences are <br> 
    no longer unforeseen or unexpected. Please remember to carefully review the Host's <br> 
    cancellation policy when booking and consider choosing an option that provides the <br> 
    level of flexibility you need.
</p>


<p class="ml-[9rem] mt-[3rem] text-2xl font-semibold">How it work</p>
<p class="ml-[9rem] mt-[1rem] text-lg font-light"> If you’re a guest, you can find cancellation and refund options by going to the <b class="border-b-[1px] border-black">Trips <br>
   page</b>  and choosing your trip – <b class="border-b-[1px ] border-black">find out how. </b> If you’re a Host, you’ll find information in <br> 
   your hosting dashboard.
</p>


<p class="ml-[9rem] mt-[3rem] text-2xl font-semibold">Coronavirus updates and resources</p>

<p class="ml-[9rem] mt-[1rem] text-lg font-light"> We’ve curated <b> articles to help our community </b> during this time in the Resource <br>
   Centre. You can find the latest information on our COVID-19 response, from policy <br>
   updates to resources for Hosts and guests.
</p>

<p class="ml-[9rem] mt-[1rem] text-lg font-light"> You can also read the <b> extenuating circumstances policy </b> to learn about coverage of <br>
  circumstances unrelated to COVID-19.
</p>

<p class="ml-[9rem] mt-[1rem] text-lg font-light"> We ask that all community members be mindful of respect, inclusion, and our <br>
  <b> nondiscrimination policy </b> when interacting with other members of our community.
</p>

<p class="ml-[9rem] mt-[1rem] text-lg font-light"> We will continue to review the application of this policy. Please monitor this page for <br>
   updates and new information.
</p>

<div class="flex mt-[2rem] ml-[9rem] opacity-70  text-md"> 
  <p class="font-semibold text-lg">Did this article help?</p>
  <p class="flex ml-[2rem] font-serif opacity-80 border-b-[0.7px] hover:border-b-[2px] border-black hover:opacity-100 text-md">Yes</p>
  <p class="flex  ml-[2rem] font-serif opacity-80  text-md border-b-[0.7px] hover:border-b-[2px] border-black hover:opacity-100">No</p>

</div>
<p class="border-[1px] ml-[9rem] mt-[2rem] w-[40rem]"></p>



<p class="mt-[2rem] ml-[9rem] text-2xl font-semibold">Related articles</p>
<p class="mt-[2rem] ml-[9rem] opacity-50">Guest</p>
<p class=" ml-[9rem] text-lg border-b-[0.3px] border-black w-[21rem]">
Find the cancellation policy for your stay</p>

<p class="mt-[12px] ml-[9rem] opacity-60  text-md">
  The amount of any refund depends on the Host’s cancellation policy and the time and date you <br> cancel.
</p>

<p class="border-[0.9px] ml-[9rem] mt-[2rem] w-[40rem]"></p>
<p class="mt-[2rem] ml-[9rem] opacity-50">Guest</p>
<p class=" ml-[9rem] text-lg border-b-[0.3px] border-black w-[19rem]">
  Cancelling your reservation for a stay</p>
<p class=" ml-[9rem] text-md border-b-[0.3px] mt-[1rem] w-[40rem] opacity-60"> You can go to your trips to cancel or make changes to your reservation.</p>



<p class="border-[0.9px] ml-[9rem] mt-[2rem] w-[40rem]"></p>

<p class=" ml-[9rem] text-lg border-b-[0.3px] mt-[2rem] border-black w-[12rem]">
  How cancellations work </p>
<p class=" ml-[9rem] text-md mt-[1rem] w-[40rem] opacity-60 ">
  Sometimes things come up and you have to cancel. To keep things running smoothly, here’s how  
  you can cancel a reservation.
</p>
  <p class="border-[0.9px] ml-[9rem] mt-[2rem] w-[40rem]"></p>

  <div class="flex mt-7">
    <div class="ml-7  max-[995px]:-ml-[3rem]">
        <p class="ml-[6rem] mt-4 font-semibold">Support</p>
        <form method="GET" action="/artical4">
        <button  class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px]  mt-1">Help Centre<button>
        </form>

        <form method="GET" action="/AirCover">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover</button>
        </form>

        <form method="GET" action="/Anti-discrimination">
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Anti-discrimination</button>
        </form>

        <form method="GET" action="/Disability-support">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Disability support</button>
        </form>

        <form method="GET" action="/Cancellation-options">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Cancellation options</button>
        </form>

        <form method="GET" action="/Report-neighbourhood-concern">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Report neighbourhood concern</button>
        </form>
    </div>

    <div class="ml-[10rem]  max-[1190px]:ml-[2rem] max-[900px]:-ml-[3rem] max-[830px]:-ml-[5rem]">
        <p class="ml-[6rem] mt-4 font-semibold">Hosting</p>
        <form method="GET" action="/Airbnb-your-home">
            <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] mt-1">Airhost your home</button>
        </form>

        <form method="GET" action="/AirCover-for-Hosts">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover for Hosts</button>
        </form>

        <form method="GET" action="/Hosting-resources">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting resources</button>
        </form>

        <form >
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Community forum</button>
        </form

        <form method="GET" action="/Hosting-responsibly">
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting responsibly</button>
        </form>
    </div>

    <div class="ml-[12rem] max-[1190px]:ml-[3rem]  max-[830px]:-ml-[25px]">
        <p class="ml-[6rem] mt-4 font-semibold">Airbnb</p>
        <form method="GET" action="/Newsroom">
        <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] w-20 mt-1">Newsroom</button>
        </form>

        <form method="GET" action="/New-features">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-28 mt-2">New features</button>
        </form>

        <form method="GET" action="/Careers">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Careers</button>
        </form>

        <form method="GET" action="/Investors">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Investors</button>
        </form>

        <form method="GET" action="/Airbnb.org-emergency-stays">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Airhost.org emergency stays</button>
        </form>
    </div>
</div> 

 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
<p class="mt-7 border-[0.1px] border-gray-300" ></p>
<div class = "f-info flex h-[8rem] flex-wrap justify-center text-center align-center ">
    <div class ="f-info-socials w-[100%] text-xl flex items-center justify-center">
        <form method="get" action="https:www.facebook.com/AirbnbIndia">
            <button class="fa-brands fa-square-facebook mr-2"></button>
        </form>
        <form method="get"  action="https:www.instagram.com/airbnb/">
            <button class="fa-brands fa-square-instagram mr-2"></button>
        </form>
        <form method="get" action="https:twitter.com/i/flow/login?redirect_after_login=%2Fairbnb_in" >
            <button class="fa-brands fa-square-twitter"></button>
        </form>
        <form method="get" action="https:www.linkedin.com/company/airbnb/" >
            <button class="fa-brands fa-linkedin ml-[8px]"></button>
        </form>
    </div>
    <div class="f-info-brand  w-[100%] justify-center  align-middle flex items-center ">&copy; Wanderlust Private Limited</div>
    <div class ="f-info-links hover:underline w-[100%] align-middle flex items-center justify-center">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div> 

<script >
  let div1 = document.getElementById("search");
  let display1 = 0;
  function hideShow1() {
    if(display1 == 1) {
      div1.style.display = 'block';
      display1 = 0;
    }
    else {
      div1.style.display = 'none';
      display1 = 1;
    }
  }
</script>

</body>
</html>