<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airhost | Holiday rentals,cabins,beach house & more</title>
    <link rel=" icon" type="image/png" href="public/ffb9bc06766fd2534983c893e5758306.png" />
    <link href="public/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/rating.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    
</head> 
<body>
  <div class="flex w-full flex-wrap items-center justify-between mt-1 ">
    <div class="ml-[9rem]  flex ">
         <a class="text-4xl text-red-500" href="/Careers"><i class="fa-brands fa-airbnb"></i></a>
      <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] " data-te-navbar-nav-ref>
          <a class="ml-[1rem] mt-2 font-semibold text-black text-xl" href="/Careers" data-te-nav-link-ref><pre class="font-serif">Careers at Airhost</pre></a>
                 
        <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] justify-end ml-[6rem]" data-te-navbar-nav-ref>
            <div class=" flex rounded-3xl pr-3  justify-end text-xl ">
                <a class=" mt-2"href="/Careers" data-te-nav-link-ref>welcome</a>
          </div>
            <div class=" flex rounded-3xl pr-3  ml-[4rem] justify-end text-xl ">
                <a class=" mt-2" href="/Careers" data-te-nav-link-ref>unirevsity</a>
          </div>
          
            <div class=" flex rounded-3xl pr-3  ml-[4rem]  justify-end text-xl  ">
                  <a class=" mt-2" href="/Careers" data-te-nav-link-ref>Non parmamentcontracy roles</a>
            </div>
            <div class=" flex rounded-3xl pr-3   ml-[4rem] justify-end text-xl ">
                <a class=" mt-2" href="/Careers" data-te-nav-link-ref>All jobes</a>
          </div>
              <div class="border-[0.3px] border-black  flex rounded-3xl mt-2 ml-[2rem] pr-2 pl-2 h-[2rem]  justify-end">
          
                <div data-te-nav-item-ref>
                  <a class=" text-black" aria-current="page" href="/signup" data-te-nav-link-ref><b>Sign up</b></a>
                  <var class="border-[0.9px] ml-1 mr-1 h-[4rem] border-black"> </var>
                </div>
                <div  data-te-nav-item-ref>
                  <a class=" " href="/login" data-te-nav-link-ref><b>Log in</b></a>
                </div>
             
              </div>
        </div> 
      </div> 
    </div>
  </div>
  <p class="border-[0.1px] mt-[3rem] border-black"> </p>


<div class="flex">
    <img src="https://careers.airbnb.com/wp-content/uploads/sites/7/2018/12/Airbnb_Careers_Home_Hero.jpg?w=1780" class="ml-[18rem] relative  mt-[2rem] w-[65rem] h-[35rem]">
    <div class=" rounded-lg mt-[10rem] ml-[12rem] absolute bg-[#f9f9f9] p-3 w-[32rem] h-[25rem] border-[1px] ">
        <p class="mt-[1rem] ml-[4rem] text-xl font-medium">94 roles in 114 locations</p>
        <p class="text-5xl font-semibold mt-[2.5rem] ml-[3rem]">Live and work <br> from anywhere</p>
        <button class="mt-[3rem] ml-[5rem]  rounded-xl text-white bg-blue-500 p-3">Explore more</button>
    </div>
</div>

<p class="opacity-50 ml-[28rem] mt-[3rem] ">News</p>
<p class="ml-[26rem] font-semibold text-4xl ">Living and working from anywhere</p>

<p class="font-light text-xl opacity-65 mt-[1rem] ml-[26rem]">2022 was another record year for Airbnb. Read more about our Q4 and year-end <br>
    2022 financial results in our Shareholder Letter.</p>

<p class="font-light text-xl opacity-65 mt-[1rem] ml-[26rem]">We have a new design for living and working anywhere! Read Airbnb Co-Founder & <br> 
    CEO Brian Chesky’s email to Airbnb’s employees around the globe in our Newsroom <br> post.
</p>

    
<p class="font-light text-xl opacity-65 mt-[1rem] ml-[26rem]">Airbnb, Inc. can hire employees in states where we have registered entities. <br>
     Currently, employees cannot be located/live in: Alaska, Nebraska, North Dakota, <br>
      Wisconsin, Alabama, Mississippi, and Delaware. This list is continuously evolving, so <br>
      please check back with us if the state you live in is on the exclusion list.
</p>

        


<p class="opacity-50 ml-[28rem] mt-[4rem] ">OUR MISSION</p>
<p class="ml-[26rem] font-semibold text-4xl ">Create a world where anyone can belong <br> anywhere</p>

<p class="font-light text-xl opacity-65 mt-[1rem] ml-[26rem]">It’s an audacious, incredibly rewarding mission that our increasingly diverse team is <br> dedicated to achieving. </p>

<p class="font-light text-xl opacity-65 mt-[1rem] ml-[26rem]">Airbnb is built around the idea that everyone should be able to take the perfect trip,<br> including where they stay, what they do, and who they meet. To that end, we <br> empower millions of people around the world to use their spaces, passions, and <br> talents to become entrepreneurs.</p>
</p>

<p class="font-light text-xl opacity-65 mt-[1rem] ml-[26rem]">Exciting challenges lie ahead—new regions, technologies, and businesses. Guided <br> by our four core values, we’ll meet these challenges creatively and with the support <br> of our global community. Join us!
</p>

       




  <div class="container ml-[6rem] relative rounded-xl mt-[5rem]">
    <div class="mySlides  hidden cursor-pointer">
        <div class="flex ml-[5rem]">
            <div>
                <p class="font-medium text-sm opacity-55">CORE VALUES</p>
                <p class="font-semibold text-6xl mt-[1rem]">champion the  our <br> Mission</p>
                <p class="font-light opacity-60 mt-[3rem] text-2xl">we're unied with our comunity to create a world <br> where anyone can belong anywhere</p>
            </div>
            <img src="https://i0.wp.com/eatsleepwander.com/wp-content/uploads/2018/06/Niido-powered-Airbnb.jpg?resize=780%2C440" class="w-[25rem] h-[23rem]  rounded-3xl ml-[12rem] " >              
        </div>
    </div>
  
    <div class="mySlides hidden cursor-pointer ">
        <div class="flex ml-[5rem]">
            <div>
                <p class="font-medium text-sm opacity-55">CORE VALUES</p>
                <p class="font-semibold text-6xl  mt-[1rem]">Be a Host</p>
                <p class="font-light opacity-60 mt-[3rem] text-2xl ">we're caring, open, and enouaging o everyone we <br> work with</p>
            </div>
        <img src="https://www.wikihow.com/images/a/ac/Be-a-Great-Host-or-Hostess-in-a-Restaurant-Step-16-Version-2.jpg" class="w-[25rem] ml-[12rem] rounded-3xl h-[23rem]">
        </div>
    </div>
  
    <div class="mySlides hidden cursor-pointer ">
        <div class="flex ml-[5rem]">
            <div>
                <p class="font-medium text-sm opacity-55">CORE VALUES</p>
                <p class="font-semibold text-6xl  mt-[1rem]">Ebrance the <br>  Adventure</p>
                <p class="font-light opacity-60 mt-[3rem] text-2xl ">we're driven by curiosity, optimism, and the berif <br> that very person can grow </p>
            </div>
        <img src="https://tse4.mm.bing.net/th?id=OIP.-GUMRvifFqXOXxGocI-YywHaE8&pid=Api&P=0&h=220" class="w-[25rem] ml-[12rem] rounded-3xl h-[23rem]">
    </div>
    </div>
  
    <div class="mySlides hidden cursor-pointer">
        <div class="flex ml-[5rem]">
            <div>
                <p class="font-medium text-sm opacity-55">CORE VALUES</p>
                <p class="font-semibold text-6xl  mt-[1rem]">Be a cereal <br> Enrepreneur</p>
                <p class="font-light opacity-60 mt-[3rem] text-2xl ">we're determind and creative in transorming our <br>  bold ambition into realty</p>
            </div>
        <img src="https://media.wired.com/photos/5bc911f0ffac9b2ce1d579ff/master/w_2560%2Cc_limit/airbnb.jpg" class="w-[25rem] rounded-3xl h-[23rem] ml-[12rem]">
    </div>
  </div>
    
  
    <!-- Next and previous buttons -->
    <a class="prev cursor-pointer absolute top-[40%] w-auto p-[1rem] mt-[-50px] text-white font-bold rounded-xl  hover:bg-black" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next cursor-pointer absolute top-[40%] w-auto p-[1rem] mt-[-50px] text-white font-bold rounded-xl hover:bg-black right-0 " onclick="plusSlides(1)">&#10095;</a>
   
   
    <!-- Thumbnail images -->
    <div class="row ml-[4rem] mt-[3rem] cursor-pointer after:table">
      <div class="column  float-left text-lg hover:text-blue-500 opacity-65">
        <p onclick="currentSlide(1)"><b class="text-black">01.</b> champion the  our <br> Mission</p>
      </div>
      <div class="column float-left ml-[7rem] hover:text-blue-500 opacity-65">
        <p onclick="currentSlide(2)" class="ml-[2rem]"><b class="text-black">02.</b>Be a Host</p>
      </div>
      <div class="column float-left ml-[7rem] hover:text-blue-500 opacity-65">
        <p onclick="currentSlide(3)" class="ml-[2rem]"><b class="text-black">03.</b>Ebrance the <br>  Adventure</p>
      </div>
      <div class="column float-left ml-[7rem] hover:text-blue-500 opacity-65">
        <p onclick="currentSlide(4)" class="ml-[2rem]"><b class="text-black">04.</b>Be a cereal <br> Enrepreneur</p>
      </div>
     
    </div>
  </div>

<div>
    <img src="https://careers.airbnb.com/wp-content/uploads/sites/7/2019/01/Paris-Final.jpg?resize=1440,512" class="mt-[10rem] w-[100%] h-[50%]">
</div>



<p class="opacity-50 ml-[26rem] text-sm mt-[2rem] ">BENEFITS</p>
<p class="ml-[26rem] font-semibold text-4xl ">Live your best life</p>

<p class="font-light text-xl opacity-65 mt-[1rem] ml-[26rem]">There’s life at work and life outside of work. We want everyone to be healthy, travel <br> often, get time to give back, and have the financial resources and support they <br> need. </p>

<p class="opacity-50 ml-[26rem] text-sm mt-[2rem] ">MACHINE READABLE FILES</p>


<p class="opacity-50 ml-[26rem] mt-[12px] text-blue-900 text-xl">HMSA</p>
<p class="opacity-50 ml-[26rem]  text-blue-900 text-xl">Kaiser Permanente</p>
<p class="opacity-50 ml-[26rem]  text-blue-900 text-xl">Anthem</p>

<div class="flex ml-[26rem] mt-[3rem]">
    <div>
        <i class="fa-solid fa-heart text-3xl ml-[2rem] text-red-600"></i>
        <p class="mt-[12px] opacity-65">Comprehensive <br> health plans</p>
    </div>

    <div class="ml-[8rem]">
        <i class="fa-solid fa-book-open-reader text-3xl text-gray-600 ml-[2rem]"></i>
        <p class="mt-[12px] opacity-65">Paid volunteer time</p>
    </div>

    <div class="ml-[10rem]">
        <i class="fa-solid fa-bowl-rice text-3xl text-cyan-700 ml-[2rem]"></i>
        <p class="mt-[12px] opacity-65">Healthy food and <br> snacks</p>
    </div>
</div>


<div class="flex ml-[26rem] mt-[4rem]">
    <div>
        <i class="fa-solid fa-lemon text-3xl ml-[2rem] text-yellow-700"></i>
        <p class="mt-[12px] opacity-65">Generous parental <br> and family leave</p>
    </div>

    <div class="ml-[8rem]">
        <i class="fa-solid fa-calendar-days text-3xl text-cyan-600 ml-[2rem]"></i>
        <p class="mt-[12px] opacity-65">Learning and <br> development</p>
    </div>

    <div class="ml-[12rem]">
        <i class="fa-solid fa-plane-circle-check text-3xl text-red-700 ml-[2rem]"></i>
        <p class="mt-[12px] opacity-65">Annual travel and <br> experiences credit</p>
    </div>
</div>


<div class="flex mt-[6rem] ml-[10rem]">
    <div>
        <p class="font-semibold text-xl ">Build extraordinary products</p>
        <p class="font-light text-xl mt-[1rem] opacity-65">Engineering technologies that bring people together in the <br>
            real world is both inspiring and daunting. We're tackling <br>
            challenges in search relevance, payments, fraud prevention, <br>
             discrimination, and growth—all while maintaining a <br>
             beautiful experience. We love to contribute to the <br>
             community, from our work on testing React components to <br>
              our new Android framework.</p>
        <p class="mt-[20px] text-cyan-600">Learn more about engineering at Airbnb.io</p>
    </div>

    <div class="ml-[5rem]">
        <p class="font-semibold text-xl ">Include everyone</p>
        <p class="font-light text-xl mt-[1rem] opacity-65">A world where anyone can belong anywhere starts with a <br>
             workplace where you feel welcome and can contribute your <br>
             best work. Airbnb welcomes candidates with backgrounds <br>
             that are traditionally underrepresented in tech and offers <br>
             opportunities to create community in our offices <br>
               around the world.</p>
        <p class="mt-[3rem] text-cyan-600">Learn more about what makes Airbnb, Airbnb</p>
    </div>
</div>

<p class="border-[0.1px] border-black mt-[5rem]"></p>

<p class="mt-[3rem] font-semibold text-2xl ml-[10rem]">Reasonable accommodation</p>

<p class="mt-[10px] font-light text-xl ml-[10rem]">Airbnb values diversity & belonging and is proud to be an Equal Employment Opportunity employer. All individuals seeking <br> 
    employment at Airbnb are considered without regard to race, color, religion, national origin, age, sex, marital status, ancestry, <br>
     physical or mental disability, veteran status, gender identity, sexual orientation, or any other legally protected characteristic. <br>
      We are committed to providing reasonable accommodations for qualified applicants with disabilities in our job application and <br>
      recruitment process. If you need assistance, or an accommodation, please contact us at: <p class="text-cyan-500 font-light text-xl ml-[10rem]"> reasonableaccommodations@airbnb.com. </p>
</p>


<p class="opacity-50 ml-[12rem] text-sm mt-[3rem]">OPPORTUNITIES</p>
<p class="ml-[12rem] font-semibold text-5xl mt-[12px]">Small teams, global mission</p>


<p class="opacity-50 ml-[12rem] text-sm mt-[3rem]">Select location</p>


    <p class="border-[0.1px]  border-black rounded-lg w-[25rem] p-[1rem] ml-[12rem] mt-[1rem]">All Locations & Department</p>
    
<div class="flex mt-[5rem] ml-[3rem] ">
    <div class="mt-[2rem]">
         <p class="font-semibold text-xl">Market Manager, Australia (Melbourne) <br> <p class="opacity-60 text-lg">Autralia</p></p>
         <p class="font-semibold text-xl mt-[25px]">Market Manager, Australia (Perth) <br> <p class="opacity-60 text-lg"> Autralia </p> </p>
         <p class="font-semibold text-xl mt-[28px]">Senior Software Engineer,Identity Foundation <br> <p class="opacity-60 text-lg"> Barcelona, Spain </p> </p>
         <p class="font-semibold text-xl mt-[28px]">Staff Technical Program Manager, China Outbound <br> <p class="opacity-60 text-lg">China</p></p>
         <p class="font-semibold text-xl mt-[28px]">Communications Lead, DACH & CEE (Contract) <br> <p class="opacity-60 text-lg"> Germany </p> </p>
         <p class="font-semibold text-xl mt-[28px]">Lead Advanced Analyst, Digital Products <br> <p class="opacity-60 text-lg"> India</p> </p>

         <p class="font-semibold text-xl mt-[28px]">Communications Lead Italy and South <br>East Europe <br> <p class="opacity-60 text-lg">Milan, Italy</p></p>
         <p class="font-semibold text-xl mt-[28px]">Executive Administrative Business Partner <br> <p class="opacity-60 text-lg"> Paris, France</p> </p>
         <p class="font-semibold text-xl mt-[28px]">Talent Enablement Advisor (HRBP), Paris <br> <p class="opacity-60 text-lg"> Paris, France</p> </p>
         <p class="font-semibold text-xl mt-[28px]">Public Policy and Government Affairs <br> Manager, France (contract) <br> <p class="opacity-60 text-lg">Paris, France</p></p>
         <p class="font-semibold text-xl mt-[28px]">Communications Lead, DACH & CEE (Contract) <br> <p class="opacity-60 text-lg"> Germany </p> </p>
         <p class="font-semibold text-xl mt-[28px]">Lead Advanced Analyst, Digital ProductsSenior <br> Frontend Engineer, Guest & Host <br> <p class="opacity-60 text-lg"> India</p> </p>
    </div>

    <div class="">
        <p class="font-semibold text-xl mt-[28px]">Senior Frontend Engineer, Media Foundation<br> <p class="opacity-60 text-lg">California, United States</p></p>
        <p class="font-semibold text-xl mt-[28px]">Senior Engineering Manager, Community Support Products<br> <p class="opacity-60 text-lg">China</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Senior Software Engineer, China Search<br> <p class="opacity-60 text-lg"> China </p> </p>
        <p class="font-semibold text-xl mt-[28px]">Lead Analyst, Advanced Analytics<br> <p class="opacity-60 text-lg">India</p></p>
        <p class="font-semibold text-xl mt-[28px]">Counsel, Corporate, Commercial and Company Secretary<br> <p class="opacity-60 text-lg">India</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Head of Risk & Compliance, EMEA Insurance<br> <p class="opacity-60 text-lg"> Ireland</p> </p>

        <p class="font-semibold text-xl mt-[28px]">Senior Software Engineer, Trust Platform <br> <p class="opacity-60 text-lg">San Francisco, United States</p></p>
        <p class="font-semibold text-xl mt-[28px]">Staff Technical Program Manager, Guest & Host Search<br> <p class="opacity-60 text-lg">San Francisco, United States</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Manager, Field Operations<br> <p class="opacity-60 text-lg"> São Paulo, Brazil </p> </p>
        <p class="font-semibold text-xl mt-[28px]">Regulatory Response Associate (Mandarin speaking) <br> <p class="opacity-60 text-lg">Singapore or South Korea</p></p>
        <p class="font-semibold text-xl mt-[28px]">Staff Technical Program Manager, Guest & Host<br> <p class="opacity-60 text-lg">United States</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Senior Manager, Security Program Management<br> <p class="opacity-60 text-lg"> United States </p> </p>
    </div>

    <div class="ml-[3rem]">
        <p class="font-semibold text-xl mt-[28px]">Senior Staff Engineer, Community Support Products <br> <p class="opacity-60 text-lg">China</p></p>
        <p class="font-semibold text-xl mt-[28px]">Software Engineer, China Foundation <br> <p class="opacity-60 text-lg"> China </p> </p>
        <p class="font-semibold text-xl mt-[28px]">Software Engineer, China Search <br> <p class="opacity-60 text-lg">China</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Safety Specialist (Japanese speaking) <br> <p class="opacity-60 text-lg">Japan</p></p>
        <p class="font-semibold text-xl mt-[28px]">Senior Marketing Lead(Head of Marketing), Japan<br> <p class="opacity-60 text-lg"> Japan</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Market Manager (12-month contract)<br> <p class="opacity-60 text-lg">Mexico City, Mexico</p> </p>

        <p class="font-semibold text-xl mt-[28px]">Staff Software Engineer, Workflow Orchestration <br> <p class="opacity-60 text-lg">United States</p></p>
        <p class="font-semibold text-xl mt-[28px]">Staff Software Engineer, Service Frameworks  <br> <p class="opacity-60 text-lg"> United States</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Staff Software Engineer, Search Infrastructureh <br> <p class="opacity-60 text-lg">United States</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Staff Software Engineer, Marketing Technology <br> <p class="opacity-60 text-lg">United States</p></p>
        <p class="font-semibold text-xl mt-[28px]">Staff Software Engineer, Infrastructure<br> <p class="opacity-60 text-lg">United States</p> </p>
        <p class="font-semibold text-xl mt-[28px]">Staff Software Engineer, Data Warehouse Compute<br> <p class="opacity-60 text-lg">United States</p> </p>
    </div>
</div>
 
<div class="bg-gray-300 mt-[5rem] h-[22rem]">
<div class="mx-auto text-center ">
    <i class="fa-regular fa-lightbulb text-5xl mt-[3rem]"></i>
    <p class="mt-[12px] text-2xl font-semibold">Questions about joining Airbnb?</p>
    <p class="mt-[12px] font-light text-xl">Learn more about our interview process on our</p>
    <p class="mt-[12px] font-semibold border-b-[1px] border-black w-fit mx-auto text-center">frequently asked questions page.</p>
</div>
</div>










  <p class="mt-[7rem] border-[0.8px]" ></p>
  <div class="flex mt-7">
    <div class="ml-7  max-[995px]:-ml-[3rem]">
        <p class="ml-[6rem] mt-4 font-semibold">Support</p>
        <form method="GET" action="/artical4">
        <button  class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px]  mt-1">Help Centre<button>
        </form>

        <form method="GET" action="/AirCover">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover</button>
        </form>

        <form method="GET" action="/Anti-discrimination">
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Anti-discrimination</button>
        </form>

        <form method="GET" action="/Disability-support">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Disability support</button>
        </form>

        <form method="GET" action="/Cancellation-options">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Cancellation options</button>
        </form>

        <form method="GET" action="/Report-neighbourhood-concern">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Report neighbourhood concern</button>
        </form>
    </div>

    <div class="ml-[10rem]  max-[1190px]:ml-[2rem] max-[900px]:-ml-[3rem] max-[830px]:-ml-[5rem]">
        <p class="ml-[6rem] mt-4 font-semibold">Hosting</p>
        <form method="GET" action="/Airbnb-your-home">
            <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] mt-1">Airhost your home</button>
        </form>

        <form method="GET" action="/AirCover-for-Hosts">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover for Hosts</button>
        </form>

        <form method="GET" action="/Hosting-resources">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting resources</button>
        </form>

        <form >
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Community forum</button>
        </form

        <form method="GET" action="/Hosting-responsibly">
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting responsibly</button>
        </form>
    </div>

    <div class="ml-[12rem] max-[1190px]:ml-[3rem]  max-[830px]:-ml-[25px]">
        <p class="ml-[6rem] mt-4 font-semibold">Airbnb</p>
        <form method="GET" action="/Newsroom">
        <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] w-20 mt-1">Newsroom</button>
        </form>

        <form method="GET" action="/New-features">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-28 mt-2">New features</button>
        </form>

        <form method="GET" action="/Careers">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Careers</button>
        </form>

        <form method="GET" action="/Investors">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Investors</button>
        </form>

        <form method="GET" action="/Airbnb.org-emergency-stays">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Airhost.org emergency stays</button>
        </form>
    </div>
</div> 

 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
<p class="mt-7 border-[0.1px] border-gray-300" ></p>
<div class = "f-info flex h-[8rem] flex-wrap justify-center text-center align-center ">
    <div class ="f-info-socials w-[100%] text-xl flex items-center justify-center">
        <form method="get" action="https:www.facebook.com/AirbnbIndia">
            <button class="fa-brands fa-square-facebook mr-2"></button>
        </form>
        <form method="get"  action="https:www.instagram.com/airbnb/">
            <button class="fa-brands fa-square-instagram mr-2"></button>
        </form>
        <form method="get" action="https:twitter.com/i/flow/login?redirect_after_login=%2Fairbnb_in" >
            <button class="fa-brands fa-square-twitter"></button>
        </form>
        <form method="get" action="https:www.linkedin.com/company/airbnb/" >
            <button class="fa-brands fa-linkedin ml-[8px]"></button>
        </form>
    </div>
    <div class="f-info-brand  w-[100%] justify-center  align-middle flex items-center ">&copy; Wanderlust Private Limited</div>
    <div class ="f-info-links hover:underline w-[100%] align-middle flex items-center justify-center">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div> 






<script>
    var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
  
  
  <script>
  let slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("demo");
    let captionText = document.getElementById("caption");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
    captionText.innerHTML = dots[slideIndex-1].alt;
  }
  </script>
  
</body>
</html>