<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airhost | Holiday rentals,cabins,beach house & more</title>
    <link rel=" icon" type="image/png" href="public/ffb9bc06766fd2534983c893e5758306.png" />
    <link href="public/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/rating.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
   
          
</head> 
<body>
  <div class="flex w-full flex-wrap items-center justify-between mt-3">
    <div class="ml-16 flex ">
         <a class="text-4xl text-black" href="/Hosting-resources"><i class="fa-brands fa-airbnb"></i></a>
      <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] " data-te-navbar-nav-ref>
          <a class="ml-[2rem] mt-2 font-semibold text-black text-xl" href="/Hosting-resources" data-te-nav-link-ref><pre class="font-serif">Resource Centre</pre></a>

<form >   
            <div class="relative ml-[7rem] mt-[5px] ">
               <input type="text"   class="block text-black  border-[0.1px] relative hover:border-[2px] border-black rounded-full h-[2.5rem] w-[20rem]" placeholder="Search how-tos and more">
               <button  class="fa-solid fa-magnifying-glass absolute border-[0.1px] hover:border-[2px] text-[#f9f9f9] bg-red-600  border-black rounded-full bottom-1.5 ml-[280px] pb-[25px] top-[2px] p-[9px]" ></button>
            </div>


</form>
            
        <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] justify-end  ml-[30rem]" data-te-navbar-nav-ref>
            <div class=" flex rounded-3xl pr-2  justify-end ">
                  <a class=" mt-2" href="/artical4"  data-te-nav-link-ref>Help</a>
            </div>
              <div class="border-[0.3px] border-black  flex rounded-3xl mt-2 pr-2 pl-2 h-[2rem] ml-[1rem] justify-end">
          
                <div data-te-nav-item-ref>
                  <a class=" text-black" aria-current="page" href="/signup" data-te-nav-link-ref><b>Sign up</b></a>
                  <var class="border-[0.9px] ml-1 mr-1 h-[4rem] border-black"> </var>
                </div>
                <div  data-te-nav-item-ref>
                  <a class=" " href="/login" data-te-nav-link-ref><b>Log in</b></a>
                </div>
              </div>
        </div> 
      </div> 
    </div>
  </div>
<p class="border-[0.1px] mt-5 border-black"> </p>











  <div class="scroll-container bg-[#333] overflow-auto whitespace-nowrap p-[10px] mt-[1rem] h-[35rem]">
    <p class="text-6xl text-white mt-[1rem] ml-[3rem] " > Become your best Host</p>
    <p class="text-xl text-white mt-[15px] mb-[3rem] ml-[3rem]">Resources to help you meet your goals</p>
    <div class="flex">
      <div class="relative">
        <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/bltc3d97adc8dd6d1eb/6543f1945f82a9040aa1e228/host_rc_film_2x_default.png?crop=100p,100p,x0,y0&width=1200&height=675&auto=webp" alt="Cinque Terre" class="w-[25rem] h-[15rem] rounded-2xl">
        <div class="absolute inset-32 ml-[1rem] text-white"> 
          <a class="fa-brands fa-youtube text-3xl" href="https://youtu.be/PJNLXF7N4oo"></a></div>
        <p class="text-white mt-[1rem]">Introduction the Listing Lab</p>
        <p  class="text-white mt-[12px]"><i class="fa-solid fa-clapperboard mr-[12px]"></i>5 minutes</p>
      </div>

      <div>
      <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blte5e9fc4e1bff42e7/653feb745f82a9040aa1c969/host_rc_earnings_2x_default.png?crop=100p,100p,x0,y0&width=1200&height=675&auto=webp" alt="Forest"class="w-[25rem] h-[15rem] ml-[1rem] rounded-2xl">
      <p  class="text-white mt-[1rem] ml-[2rem]">A new dashboard gives you  clear <br> view of your earning</p>
      <p class="text-white mt-[12px] ml-[2rem]"><i class="fa-solid fa-book-open mr-[12px]"></i>2 minutes</p>
      </div>

      <div>
        <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt0164fd9f367aa070/653ffa273296fd040a72236e/host_rc_guest_favorites_2x_default.png?crop=100p,100p,x0,y0&width=1200&height=675&auto=webp" alt="Northern Lights" class="w-[25rem] h-[15rem] ml-[2rem] rounded-2xl">
        <p class="text-white mt-[1rem] ml-[3rem]">Guest Favourites: Most-loved homes <br> according o guests</p>
        <p class="text-white mt-[12px] ml-[3rem]"><i class="fa-solid fa-book-open mr-[12px]"></i>2 minutes</p>
      </div>

      <div>
      <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blte2c862de24dd9c6a/6540ef225c3dfb040ae13adb/host_rc_reviews_2x_default.png?crop=100p,100p,x0,y0&width=1200&height=675&auto=webp" alt="Mountains" class="w-[25rem] h-[15rem] ml-[3rem] rounded-2xl">
      <p class="text-white mt-[1rem] ml-[4rem]">Revamped reating and other <br>review</p>
      <p class="text-white mt-[12px] ml-[4rem]"><i class="fa-solid fa-book-open mr-[12px]"></i>2 minutes</p>
      </div>
    </div>
  </div>

    <p class="mt-[3rem] ml-[5rem] font-semibold text-2xl ">you might also like</p>
    <p class="border-b-[2px] border-black w-[6rem] mt-[1rem] ml-[5rem]">Explore more</p>
  

<div class="flex">
  <div class="flex">
    <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt5724ed0dd88be3d3/5dc0bd73daa3472043dc811f/2UV408K77PP7.jpg?crop=66.66p,100p,x8.42p,y0&width=450&height=450&auto=webp" class="ml-[5rem] mt-[3rem] rounded-xl w-[9rem] h-[8rem]">
    <p class="mt-[5rem] ml-[10px] text-gl opacity-70">Get started on Airbnb <br> <i class="fa-solid fa-book-open mt-[1rem] mr-[12px] opacity-50"></i>2 minutes</p>
  </div>

  <div class="flex">
    <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/bltda9f6a66409885bf/6376c4b537f71b133622787b/AC4H_HC_Header_Img@2X.jpg?crop=38.94p,100p,x30.7p,y0&width=450&height=450&auto=webp" class="ml-[15rem] mt-[3rem] rounded-xl w-[9rem] h-[8rem]">
    <p class="mt-[5rem] ml-[10px] text-lg font opacity-70">New and improved AirCover for Hosts

      <br> <i class="fa-solid fa-book-open mt-[1rem] mr-[12px] opacity-50"></i>2 minutes</p>
  </div>
</div>



<div class="flex">
  <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/bltc9b3618e3f2f45eb/5dc1b0e0300aca333c2531c0/2UV408URGKZ9A.jpg?crop=66.66p,100p,x0,y0&width=450&height=450&auto=webp" class="ml-[5rem] mt-[3rem] rounded-xl w-[9rem] h-[8rem]">
  <p class="mt-[5rem] ml-[10px] text-lg opacity-70">How Airbnbn protects Hosts <br> <i class="fa-solid fa-book-open mt-[1rem] mr-[12px] opacity-50"></i>3 minutes</p>
</div>



<p class="mt-[8rem] ml-[5rem] font-semibold text-2xl ">Learning</p>
<p class="border-b-[2px] border-black w-[23rem] mt-[28px] ml-[5rem] mb-[3rem]">Airtical and videos searies to help you get started</p>

<div class="flex ml-[4rem]">
  <div class=" pb-[3rem]">
    <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/bltd3d2014b2b871573/64d27fdb5b6dc1b15cbbe87f/HERO_UPDATED_(1).png?crop=39.82p,100p,x28.59p,y0&width=432&height=513&auto=webp" class="w-[20rem]  rounded-t-xl ">
    <div class="bg-black h-[5rem] rounded-b-xl">
      <p class=" text-white ml-[1rem]">Rooms</p>
      <p class="text-white mt-[1rem] opacity-60 ml-[1rem]">Learning</p>
    </div>
    
  </div>

  <div class=" ">
    <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blt93ad076a2d9ce4c5/644067a12e3f817bcbb2f908/host_rc_pricing_l_2x_en-US_(1).png?crop=32.1p,100p,x33.68p,y0&width=432&height=513&auto=webp" class="w-[20rem]   rounded-t-xl ml-[1rem]">
    <div class="bg-black ml-[1rem] h-[5rem] rounded-b-xl">
    <p class=" text-white ml-[1rem]" >Price your place </p>
    <p class="text-white mt-[1rem] opacity-60  ml-[1rem]">Learning</p>
  </div>
  </div>

  <div class="">
  <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/blta2361c6f814213fe/62a0fe2e57e5dc1b13083c7c/InclusionHub_TILE.jpg?crop=100p,86.8p,x0,y0&width=432&height=513&auto=webp" class="w-[20rem]   rounded-t-xl ml-[1rem]">
  <div class="bg-black ml-[1rem] h-[5rem] rounded-b-xl">
  <p class=" text-white ml-[1rem]">How to be an even more inclusive Host </p>
  <p class="text-white mt-[1rem] opacity-60 ml-[1rem]">Learning</p>
</div>
  </div>

  <div class="">
    <img src="https://images.contentstack.io/v3/assets/bltb428ce5d46f8efd8/bltb2fadf36b8956143/5f5a50763fc7e52e120b649d/Tile_Discovering_Hosting_jpg.jpg?crop=100p,87.76p,x0,y12.23p&width=432&height=513&auto=webp" class="w-[20rem]   rounded-t-xl ml-[1rem]">
    <div class="bg-black ml-[1rem] h-[5rem] rounded-b-xl">
    <p class=" text-white ml-[1rem]">Discoverning the World f hosting</p>
    <p class="text-white mt-[1rem] opacity-60 ml-[1rem]">Learning</p>
  </div>
  </div>
</div>


<div class="bg-black mt-[6rem] h-[28rem]">
  <p class="pt-[3rem] ml-[4rem] text-xl font-semibold text-white">News</p>
  <p class="mt-[2rem] ml-[4rem] text-white">Get the latest hosting and company updates.</p>
  <div class="flex mt-[4rem]">
    <div class="ml-[3rem]">
      <p class="border-[1px] w-[25rem] "></p>
      <p class="mt-[1rem]  text-white">8 Nov 2023</p>
      <p class="mt-[1rem] text-xl font-semibold  text-white">Explore the upgrades in the Airbnb 2023 <br>
         Winter Release</p>
      <p class="border-[1px] w-[25rem] "></p>
      <p class="border-b-[2px] border-white text-white w-[6rem] mt-[3rem] ml-[5rem]">Explore more</p>
    </div>
     
    <div class="ml-[3rem]">
      <p class="border-[1px] w-[25rem]"></p>
      <p class="mt-[1rem]  text-white">8 Nov 2023</p>
      <p class="mt-[1rem] text-xl font-semibold  text-white">Introducing the Listings and it's <br> tab</p>
      <p class="border-[1px] w-[25rem]"></p>
    </div>

    <div class="ml-[3rem]">
      <p class="border-[2px] w-[25rem]"></p>
      <p class="mt-[1rem]  text-white">8 Nov 2023</p>
      <p class="mt-[1rem] text-xl font-semibold  text-white">A new dashboard gives you a clear view of  <br>your earnings</p>
      <p class="border-[1px] w-[25rem]"></p>
    </div>
  </div> 
</div>

<p class="ml-[5rem] mt-[3rem] text-lg"><i class="fa-solid fa-volume-high mr-[1rem]"></i>Give Feedback</p>
<div class="flex ml-[5rem] mt-[3rem] ">
  <div class="border-[2px] rounded-xl p-[3rem] w-[40rem]">
    <p class="text-xl font-light">Join conversations with Hosts around <br> the world.</p>
    <p class="text-lg font-semibold mt-[1rem]">Go to the Community Centre  ></p>
  </div>
  <div class="border-[2px] rounded-xl p-[3rem] ml-[2rem] w-[40rem]">
    <p class="text-xl font-light">find how-to articles nd get answers to frequenty  <br> asked questions. </p>
    <p class="text-lg font-semibold mt-[1rem]">Go to Help Center  ></p>
  </div>
</div>

<p class="border-[0.4px] ml-[5rem] w-[80rem] mt-[5rem]"></p>

<p class="ml-[5rem] mt-[3rem] font-semibold text-xl">Explore more topics</p>


<div class="flex mt-[4rem]">
  <div class="">
      <p class="ml-[6rem] mt-4 font-semibold">Get started hosting</p>
      <p  class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px]  mt-1">Why Host<p>
      <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">What it's like to host</p>
      <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Common questions</p>
  </div>
  <div class="">
      <p class="ml-[6rem] mt-4 font-semibold">your space</p>
          <p class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] mt-1">Deign inspiration</p>
          <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Cleaniness</p>
          <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Accessbility</p>
          <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Susainality</p>
          <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Setup & amenities</p>
  </div>

  <div class="">
      <p class="ml-[6rem] mt-4 font-semibold">Hospitality</p>
          <p class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] w-30 mt-1">Delighting guests</p>
          <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-30 mt-2">Communication & check in</p>
          <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-30  mt-2">Rating & review</p>
          <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-30  mt-2">Potential challenges</p>   
  </div>

  <div class="">
    <p class="ml-[6rem] mt-4 font-semibold">your listing</p>
        <p class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] w-30 mt-1">Listing details & photos</p>
        <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-30  mt-2">Calender and booking setting</p>
        <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  w-30 mt-2">princing straegies</p>
</div>

<div class="">
  <p class="ml-[6rem] mt-4 font-semibold">Professional hosting</p>
      <p class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] mt-1">Tools feacture</p>
      <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Success stories</p>
      <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Airbnb .org</p>
      <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Superhost</p>
      <p class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Marketing</p>
</div>

</div>



<p class="border-[0.8px] w-[90rem] mt-[3rem]"></p>





<div class="flex mt-7">
  <div class="ml-7  max-[995px]:-ml-[3rem]">
      <p class="ml-[6rem] mt-4 font-semibold">Support</p>
      <form method="GET" action="/artical4">
      <button  class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px]  mt-1">Help Centre<button>
      </form>

      <form method="GET" action="/AirCover">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover</button>
      </form>

      <form method="GET" action="/Anti-discrimination">
      <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Anti-discrimination</button>
      </form>

      <form method="GET" action="/Disability-support">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Disability support</button>
      </form>

      <form method="GET" action="/Cancellation-options">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Cancellation options</button>
      </form>

      <form method="GET" action="/Report-neighbourhood-concern">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Report neighbourhood concern</button>
      </form>
  </div>

  <div class="ml-[10rem]  max-[1190px]:ml-[2rem] max-[900px]:-ml-[3rem] max-[830px]:-ml-[5rem]">
      <p class="ml-[6rem] mt-4 font-semibold">Hosting</p>
      <form method="GET" action="/Airbnb-your-home">
          <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] mt-1">Airhost your home</button>
      </form>

      <form method="GET" action="/AirCover-for-Hosts">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover for Hosts</button>
      </form>

      <form method="GET" action="/Hosting-resources">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting resources</button>
      </form>

      <form >
      <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Community forum</button>
      </form

      <form method="GET" action="/Hosting-responsibly">
      <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting responsibly</button>
      </form>
  </div>

  <div class="ml-[12rem] max-[1190px]:ml-[3rem]  max-[830px]:-ml-[25px]">
      <p class="ml-[6rem] mt-4 font-semibold">Airbnb</p>
      <form method="GET" action="/Newsroom">
      <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] w-20 mt-1">Newsroom</button>
      </form>

      <form method="GET" action="/New-features">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-28 mt-2">New features</button>
      </form>

      <form method="GET" action="/Careers">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Careers</button>
      </form>

      <form method="GET" action="/Investors">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Investors</button>
      </form>

      <form method="GET" action="/Airbnb.org-emergency-stays">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Airhost.org emergency stays</button>
      </form>
  </div>
</div> 

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
<p class="mt-7 border-[0.1px] border-gray-300" ></p>
<div class = "f-info flex h-[8rem] flex-wrap justify-center text-center align-center ">
  <div class ="f-info-socials w-[100%] text-xl flex items-center justify-center">
      <form method="get" action="https:www.facebook.com/AirbnbIndia">
          <button class="fa-brands fa-square-facebook mr-2"></button>
      </form>
      <form method="get"  action="https:www.instagram.com/airbnb/">
          <button class="fa-brands fa-square-instagram mr-2"></button>
      </form>
      <form method="get" action="https:twitter.com/i/flow/login?redirect_after_login=%2Fairbnb_in" >
          <button class="fa-brands fa-square-twitter"></button>
      </form>
      <form method="get" action="https:www.linkedin.com/company/airbnb/" >
          <button class="fa-brands fa-linkedin ml-[8px]"></button>
      </form>
  </div>
  <div class="f-info-brand  w-[100%] justify-center  align-middle flex items-center ">&copy; Wanderlust Private Limited</div>
  <div class ="f-info-links hover:underline w-[100%] align-middle flex items-center justify-center">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
  </div>
</div> 

<script>
let slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
  
</body>
</html>