<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airhost | Holiday rentals,cabins,beach house & more</title>
    <link rel=" icon" type="image/png" href="public/ffb9bc06766fd2534983c893e5758306.png" />
    <link href="public/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/rating.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    
</head> 
<body>
  <div class="flex w-full flex-wrap items-center justify-between mt-1 ">
    <div class="ml-[9rem]  flex ">
         <a class="text-4xl text-red-500" href="/Investors"><i class="fa-brands fa-airbnb"></i></a>
      <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] " data-te-navbar-nav-ref>
          <a class="ml-[1rem] mt-2 font-semibold text-black text-xl" href="/Investors" data-te-nav-link-ref><pre class="font-serif"> Airhost Investor</pre></a>
                 
        <div class=" mr-auto flex flex-col pl-0  lg:flex-row w-[100%] justify-end ml-[18rem]" data-te-navbar-nav-ref>
            <div class=" flex rounded-3xl pr-3  justify-end  ">
                <a class=" mt-2" href="/Investors" data-te-nav-link-ref>Home</a>
          </div>
            <div class=" flex rounded-3xl pr-3  justify-end ">
                <a class=" mt-2" href="/Investors" data-te-nav-link-ref>Events & Pesenation</a>
          </div>
          
            <div class=" flex rounded-3xl pr-3   justify-end">
                  <a class=" mt-2" href="/Investors" data-te-nav-link-ref>Press Realse</a>
            </div>
            <div class=" flex rounded-3xl pr-3   justify-end ">
                <a class=" mt-2" href="/Investors" data-te-nav-link-ref>Stack Info </a>
          </div>
          <div class=" flex rounded-3xl pr-3    justify-end ">
            <a class=" mt-2" href="/Investors" data-te-nav-link-ref>Fiancials</a>
          </div>
          <div class=" flex rounded-3xl pr-3   justify-end ">
            <a class=" mt-2" href="/Investors" data-te-nav-link-ref>Resources</a>
          </div>
              <div class="border-[0.3px] border-black  flex rounded-3xl mt-2 ml-[2rem] pr-2 pl-2 h-[2rem]  justify-end">
          
                <div data-te-nav-item-ref>
                  <a class=" text-black" aria-current="page" href="/signup" data-te-nav-link-ref><b>Sign up</b></a>
                  <var class="border-[0.9px] ml-1 mr-1 h-[4rem] border-black"> </var>
                </div>
                <div  data-te-nav-item-ref>
                  <a class=" " href="/login" data-te-nav-link-ref><b>Log in</b></a>
                </div>
             
              </div>
        </div> 
      </div> 
    </div>
  </div>
  <p class="border-[0.1px] mt-[3rem] border-black"> </p>


<div>
  <img src="https://images.pexels.com/photos/13776767/pexels-photo-13776767.jpeg?auto=compress&cs=tinysrgb&w=800" class=" h-[45rem] w-[100%] relative">
  <p class="absolute inset-[32rem] text-white font-semibold text-5xl">Over 4 million <br> Hosts share their <br> worlds on Airhost.</p>
</div>

<p class="mt-[2rem] text-4xl ml-[20rem] font-semibold">Quarterly Results</p>
<p class="mt-[4rem] text-3xl ml-[20rem] font-semibold">Q3 2023</p>

<div class="flex mt-[2rem] ml-[20rem]">
  <div class="flex font-semibold">
    <i class="fa-solid fa-download mt-1 mr-1"></i>
    <p>Press Release</p>
  </div>
  <div class="flex font-semibold ml-[2rem]">
    <i class="fa-solid fa-download mt-1 mr-1"></i>
    <p>Shareholder Letter</p>
  </div>
  <div class="flex font-semibold ml-[2rem] ">
    <i class="fa-solid fa-download mt-1 mr-1"></i>
    <p>Earning webcast</p>
  </div>
  <div class="flex font-semibold ml-[2rem] ">
    <i class="fa-solid fa-download mt-1 mr-1"></i>
    <p>Earning Transscript</p>
  </div>
  <div class="flex font-semibold ml-[2rem] ">
    <i class="fa-solid fa-download mt-1 mr-1"></i>
    <p>SEC Fillings</p>
  </div>
</div>

<p class="border-[0.1px] border-gray-300 ml-[20rem] w-[50rem] mt-[4rem]"></p>

<p class="border-[2px] border-black p-2 w-[16rem] mx-auto text-center rounded-2xl hover:bg-slate-200 cursor-pointer mt-[3rem] ml-[20rem]">See all quarterly results</p>


<p class="border-[0.1px] border-gray-300 ml-[20rem] w-[50rem] mt-[9rem]"></p>


<p class="ml-[20rem] mt-[3rem] font-semibold text-4xl">Press Releases</p>
<p class="ml-[20rem] mt-[3rem] text-sm opacity-60 ">NOVEMBER 1, 2023</p>
<p class="mt-[1rem] ml-[20rem] text-3xl ">Airhost Announces Third Quarter 2023 Results</p>
<p class="border-[0.1px] border-gray-300 ml-[20rem] w-[50rem] mt-[1rem]"></p>

<p class="ml-[20rem] mt-[3rem] text-sm opacity-60 ">OCTOBER 18, 2023</p>
<p class="mt-[1rem] ml-[20rem] text-3xl ">Airhost to Announce Third Quarter 2023 Results</p>
<p class="border-[0.1px] border-gray-300 ml-[20rem] w-[50rem] mt-[1rem]"></p>

<p class="ml-[20rem] mt-[3rem] text-sm opacity-60 ">SEPTEMBER 11, 2023</p>
<p class="mt-[1rem] ml-[20rem] text-3xl ">James Manyika to join Airbnb's Board of Directors</p>
<p class="border-[0.1px] border-gray-300 ml-[20rem] w-[50rem] mt-[1rem]"></p>


<p class="border-[2px] border-black p-2 w-[16rem] mx-auto text-center rounded-lg hover:bg-slate-200 cursor-pointer mt-[3rem] ml-[20rem]">Show all press releases</p>
<p class="border-[0.1px] border-gray-300 ml-[20rem] w-[50rem] mt-[7rem]"></p>


<p class="ml-[20rem] mt-[3rem] font-semibold text-4xl">Newsroom</p>
<div class="flex ml-[16rem] mt-[3rem]">
  <div>
    <img src="https://tse4.mm.bing.net/th?id=OIP.palUmx2aPHWoQbLKfgSVdgHaE8&pid=Api&P=0&h=220" class="rounded-2xl w-[25rem] h-[15rem]">
    <p class=" mt-[1rem] text-sm opacity-60 ">JANUARY 18, 2024</p>
    <p class="mt-[12px] font-light  text-xl">Four months later: An update on New York City’s <br> short-term rental rules</p>
  </div>
  <div class="ml-[5rem]">
    <img src="https://tse3.explicit.bing.net/th?id=OIP.gIS1L8kGCouYAB4TbnvD4AHaE8&pid=Api&P=0&h=220" class=" rounded-2xl w-[25rem] h-[15rem]">
    <p class=" mt-[1rem] text-sm opacity-60 ">JANUARY 18, 2024</p>
    <p class="mt-[12px] font-light  text-xl">Meet La La, Airbnb’s newest Creative Advisor <br> and Host</p>
  </div>
</div>

<p class="border-[2px] border-black p-2 w-[16rem] mx-auto text-center rounded-lg hover:bg-slate-200 cursor-pointer mt-[5rem] ml-[20rem]">Visit the Newsroom</p>
<p class="border-[0.1px] border-gray-300 ml-[15rem] w-[60rem] mt-[7rem]"></p>


<p class="ml-[20rem] mt-[3rem] font-semibold text-4xl">Upcoming Events</p>
<p class="mt-[2rem] font-light ml-[20rem] opacity-65 text-xl">There are currently no events or presentations scheduled.</p>
<p class="border-[2px] border-black p-2 w-[16rem] mx-auto text-center rounded-lg hover:bg-slate-200 cursor-pointer mt-[2rem] ml-[20rem]">Visit the Newsroom</p>

<p class="border-[0.1px] border-gray-300 ml-[15rem] w-[60rem] mt-[7rem]"></p>

<p class="ml-[20rem] mt-[3rem] font-semibold text-4xl">Email Alerts and Contact Info</p>

<div class="flex ml-[20rem] mt-[3rem]">
  <div>
    <input class="w-[20rem]  h-[4rem] rounded-lg  border-black border-[1px]" placeholder=" Enter Email address"/>
   <form action="/Investors" class="mt-[2rem]">
  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike1" class="">
  <label for="vehicle1"> Pres Release</label><br>

  <input type="checkbox" id="vehicle2" name="vehicle2" value="Bike2" class="mt-[2rem]">
  <label for="vehicle2"> Events </label><br>

  <input type="checkbox" id="vehicle3" name="vehicle3" value="Bike3" class="mt-[2rem]">
  <label for="vehicle3"> Preentations </label><br><br>

  <input type="checkbox" id="vehicle4" name="vehicle4" value="Bike4" class="">
  <label for="vehicle4"> SEC Fillings </label><br><br>

  <input type="checkbox" id="vehicle5" name="vehicle5" value="Bike5" class="">
  <label for="vehicle5"> End f Day Stock Quote </label><br><br>
  <button class="border-2 border-black p-2 mt-[1rem] w-[8rem] ml-[2rem] bg-black text-white rounded-lg ">Submit</button>
</div>

   <div class=" ml-[3rem]">
    <p class="font-light">Questions for the Investor Relations department can <br> 
      be emailed to <b class="text-black "> ir@airbnb.com </b> or submitted by clicking <br>
      on the button below. </p>
   <button class="border-2 border-black p-2 mt-[3rem] ml-[2rem] w-[10rem] bg-black text-white rounded-lg">Contact us</button>
  </div>
</div>
</div>



  <p class="mt-[7rem] border-[0.8px]" ></p>
  <div class="flex mt-7">
    <div class="ml-7  max-[995px]:-ml-[3rem]">
        <p class="ml-[6rem] mt-4 font-semibold">Support</p>
        <form method="GET" action="/artical4">
        <button  class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px]  mt-1">Help Centre<button>
        </form>

        <form method="GET" action="/AirCover">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover</button>
        </form>

        <form method="GET" action="/Anti-discrimination">
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Anti-discrimination</button>
        </form>

        <form method="GET" action="/Disability-support">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Disability support</button>
        </form>

        <form method="GET" action="/Cancellation-options">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Cancellation options</button>
        </form>

        <form method="GET" action="/Report-neighbourhood-concern">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Report neighbourhood concern</button>
        </form>
    </div>

    <div class="ml-[10rem]  max-[1190px]:ml-[2rem] max-[900px]:-ml-[3rem] max-[830px]:-ml-[5rem]">
        <p class="ml-[6rem] mt-4 font-semibold">Hosting</p>
        <form method="GET" action="/Airbnb-your-home">
            <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] mt-1">Airhost your home</button>
        </form>

        <form method="GET" action="/AirCover-for-Hosts">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover for Hosts</button>
        </form>

        <form method="GET" action="/Hosting-resources">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting resources</button>
        </form>

        <form >
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Community forum</button>
        </form

        <form method="GET" action="/Hosting-responsibly">
        <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting responsibly</button>
        </form>
    </div>

    <div class="ml-[12rem] max-[1190px]:ml-[3rem]  max-[830px]:-ml-[25px]">
        <p class="ml-[6rem] mt-4 font-semibold">Airbnb</p>
        <form method="GET" action="/Newsroom">
        <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] w-20 mt-1">Newsroom</button>
        </form>

        <form method="GET" action="/New-features">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-28 mt-2">New features</button>
        </form>

        <form method="GET" action="/Careers">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Careers</button>
        </form>

        <form method="GET" action="/Investors">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Investors</button>
        </form>

        <form method="GET" action="/Airbnb.org-emergency-stays">
            <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Airhost.org emergency stays</button>
        </form>
    </div>
</div> 

 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
<p class="mt-7 border-[0.1px] border-gray-300" ></p>
<div class = "f-info flex h-[8rem] flex-wrap justify-center text-center align-center ">
    <div class ="f-info-socials w-[100%] text-xl flex items-center justify-center">
        <form method="get" action="https:www.facebook.com/AirbnbIndia">
            <button class="fa-brands fa-square-facebook mr-2"></button>
        </form>
        <form method="get"  action="https:www.instagram.com/airbnb/">
            <button class="fa-brands fa-square-instagram mr-2"></button>
        </form>
        <form method="get" action="https:twitter.com/i/flow/login?redirect_after_login=%2Fairbnb_in" >
            <button class="fa-brands fa-square-twitter"></button>
        </form>
        <form method="get" action="https:www.linkedin.com/company/airbnb/" >
            <button class="fa-brands fa-linkedin ml-[8px]"></button>
        </form>
    </div>
    <div class="f-info-brand  w-[100%] justify-center  align-middle flex items-center ">&copy; Wanderlust Private Limited</div>
    <div class ="f-info-links hover:underline w-[100%] align-middle flex items-center justify-center">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div> 


</body>
</html>