

  <div class="mx-auto text-center mb-5 border-[1px] w-[60rem] pr-[24rem] mt-[5rem] h-[33rem] pt-7 pb-[8rem] bg-white rounded-3xl">
    <h1 class="text-[2.75rem] mx-auto text-center "><b>Introducing<br>
      Guest Favourites</b></h1>
      <p class="mx-auto text-center mt-4 text-xl">When you see a Guest Favourite, you’ll know <br>it’s one of the 2 million most loved homes<br> on Airhost.</p>
      <form method="GET" action="/listings" >
      <button type="submit" class="text-white mt-7 mx-auto text-center w-[12rem] h-[3rem] bg-black  hover:bg-neutral-700  font-medium rounded-lg text-sm px-4 py-2 hover:border-2 border-black ">Start exploring</button> </form>
      <img src="https://a0.muscache.com/im/pictures/mediaverse/N8AnnouncementCurtainBackgroundLocalizedLarge/original/d991c3d1-aa3e-4d0a-a65a-e09c87ff0a51.jpeg?im_w=2560" class="w-[475px] ml-[30rem] -mt-[21rem] h-[525px] rounded-3xl">
  </div>
</div>
