
            
 
    <a href="/listings"  class="font-serif mx-auto text-center cursor-pointer justify-center sticky bg-white top-0 z-10" >Learn about Guest Favourites, the most loved homes on Airhost</a>
    <p class="border-[0.1px] border-gray-400 text-center w-full mx-auto max-w-full  justify-center  mb-2 mt-2 s sticky top-0 z-30"></p>
<!--     
    <div class="border-[0.7px] border-black rounded-lg h-9 pt-1 inline-block p-[7px]  max-lg:hidden ml-[1rem] pl-2 opacity-60 hover:opacity-100 ">     
      <input onclick="myFunction()" class="mr-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary checked:focus:bg-primary checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] dark:bg-neutral-600 dark:after:bg-neutral-400 dark:checked:bg-primary dark:checked:after:bg-primary dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca]" type="checkbox" role="switch" />
      <label class="inline-block pl-[0.15rem] hover:cursor-pointer " for="flexSwitchCheckDefault">Dark</label>
     </div> 

    <div id="learn" class="absolute text-center hidden  border-[1px] w-[60rem] pr-[24rem] ml-[3rem] h-[33rem] pt-7 pb-[8rem] bg-[#f7f7f7] mt-[45rem] rounded-3xl">
      <div onclick="hideShow22()" class="absolute top-3 right-3 w-max  hover:bg-white" >
        <div role="button" class="w-max pl-1 pr-1">
           <i class="fa-solid fa-circle-xmark text-xl"></i>
        </div>
    </div> 
      <h1 class="text-[2.75rem] mx-auto text-center "><b>Introducing<br>
        Guest Favourites</b></h1>
        <p class="mx-auto text-center mt-4 text-xl">When you see a Guest Favourite, you’ll know <br>it’s one of the 2 million most loved homes<br> on Airhost.</p>
        <form method="GET" action="/listings" >
        <button type="submit" class="text-white mt-7 mx-auto text-center w-[12rem] h-[3rem] bg-black  hover:bg-neutral-700  font-medium rounded-lg text-sm px-4 py-2 hover:border-2 border-black ">Start exploring</button> </form>
        <img src="https://a0.muscache.com/im/pictures/mediaverse/N8AnnouncementCurtainBackgroundLocalizedLarge/original/d991c3d1-aa3e-4d0a-a65a-e09c87ff0a51.jpeg?im_w=2560" class="w-[475px] ml-[30rem] -mt-[21rem] h-[525px] rounded-3xl">
    </div> -->


    <nav class="text-black flex  w-full sticky top-0 z-10  bg-white">
   
  <!-- <div class="flex-wrap flex  w-full ">
    <div class="flex flex-wrap w-full"> -->
      <!-- <a class="text-5xl max-xl:text-4xl ml-[1rem]  text-[#fe424d]" href="/listings"><i class="fa-brands fa-airbnb"></i></a>
         <div class="flex ">
             <div >
                 <a class="ml-1 max-xl:text-2xl  text-red-500 text-3xl" href="/listings" ><b>airhost</b></a>
             </div> -->
             <img src="https://tse4.mm.bing.net/th?id=OIP.QWRf-Dn2GoKkU6j4XeNcGQHaBn&pid=Api&P=0&h=220"  class="w-[10rem] h-[35px] font-bold mt-[1rem] max-[597px]:mt-[20px] ml-[2rem] max-[745px]:ml-[0rem] max-lg:-mr-[9rem] max-[950px]:-mr-[16rem] max-[858px]:w-[8rem] max-[858px]:h-[2rem] max-[858px]:mt-[2rem] max-[745px]:-mr-[rem] max-[1170px]:-mr-[8rem]">
  
              <div class="flex  border-[1px] border-gray-400 max-[1040px]:scale-50  max-lg:left-3 right-4 h-[6rem] ml-[4rem] rounded-full w-[50rem] p-1  scale-75 ">
                  <label class=" text-lg  ml-3 ">where <br>
                  <input placeholder="destination" value="" class="border-none ml-3 rounded-md h-[3rem] relative"></input></label> 
                  <button type="submit" onclick="hideShow11()"  class="text-white absolute p-[0.10rem]  bottom-2.5 bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm ml-[140px] mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Search</button>
            
            
            
            
            
                   <div id="lode" class=" hidden border-[0.1px] absolute border-black w-[40rem] h-[30rem] rounded-2xl ml-3 p-3 bg-[#f7f7f7] mt-[5rem] ">
                    <div onclick="hideShow11()" class="absolute top-3 right-3 w-max  hover:bg-white" >
                      <div role="button" class="w-max pl-1 pr-1">
                         <i class="fa-solid fa-circle-xmark text-xl"></i>
                      </div>
                  </div>
                    <div class="flex flex-wrap pt-[2rem] pl-6 ">
                      <div> 
                        <img class="w-[10rem] border-[1px] hover:border-[1.6px] rounded-xl hover:border-black" src="https://a0.muscache.com/pictures/f9ec8a23-ed44-420b-83e5-10ff1f071a13.jpg">
                        <p class="opacity-65  ml-[2rem] mt-3 mb-1 text-lg">I'm flexible </p>
                      </div>
                      <div> 
                        <img class="w-[10rem] ml-[2rem] border-[1px] hover:border-[1.6px] rounded-xl hover:border-black" src="https://a0.muscache.com/im/pictures/7b5cf816-6c16-49f8-99e5-cbc4adfd97e2.jpg?im_w=320">
                        <p class="opacity-65 ml-[3rem] mt-3 mb-1 text-lg">Europe </p>
                      </div>
                      <div> 
                        <img class="w-[10rem] ml-[2rem] border-[1px] hover:border-[1.6px] rounded-xl hover:border-black" src="https://a0.muscache.com/im/pictures/dbb2b5ef-2efe-4099-81ac-c7b957f384ed.jpg?im_w=320">
                        <p class="opacity-65 ml-[3rem] mt-3 mb-1 text-lg">United Kingdom</p>
                      </div>
                    </div>
                  
                  
                     
                    <div class="flex flex-wrap mt-[2rem] pb-[6rem] pl-6 ">
                      <div> 
                        <img class="w-[10rem] border-[1px] hover:border-[1.6px] rounded-xl hover:border-black" src="https://a0.muscache.com/im/pictures/d77de9f5-5318-4571-88c7-e97d2355d20a.jpg?im_w=320">
                        <p class="opacity-65  ml-[1rem] mt-3 mb-1 text-lg pb-[3rem]">Southeast Asia</p>
                      </div>
                      <div> 
                        <img class="w-[10rem] ml-[2rem] border-[1px] hover:border-[1.6px] rounded-xl hover:border-black" src="https://a0.muscache.com/im/pictures/e1a36727-5064-4ba7-a870-4f9fec72def7.jpg?im_w=320">
                        <p class="opacity-65 ml-[3rem] mt-3 mb-1 text-lg">United Arab </p>
                      </div>
                      <div> 
                        <img class="w-[10rem] ml-[2rem] border-[1px] hover:border-[1.6px] rounded-xl hover:border-black" src="https://a0.muscache.com/im/pictures/66355b01-4695-4db9-b292-c149c46fb1ca.jpg?im_w=320">
                        <p class="opacity-65 ml-[3rem] mt-3 mb-1 text-lg">Midddle East</p>
                      </div>
                    </div>
                  </div>
            
            
            
            
            
            
            
            
            
                  <var class="border-[0.4px] border-black "></var>
                  <pre class="ml-1  w-6 font-serif text-lg " >Check in <br><p class="opacity-50 hover:opacity-100">Add dates & time</p></pre>  
                 <form action=method="post">
                      <input type = "datetime-local" name=" " value=""  class="mt-[3rem] mr-4 ">
                 </form> 
              <var class="border-[0.4px] border-black"></var>
            
              <pre class="ml-2  w-6 font-serif  text-lg " >Check in <br><p class="opacity-50 hover:opacity-100">Add week</p></pre> 
              <form action=method="post">
                <input type = "week" name=" " value=""  class="mt-[3rem] mr-4 ">
              </form> 
            
             
            
            
              <var class="border-[0.4px] border-black"></var>
            
             <div class="relative inline-block ">
                 <button class=" ml-1 relative " onclick="hideShow()" > <pre class="font-serif text-lg">who<br><p class="opacity-45 hover:opacity-100 text-lg" onclick="calculate()" id="answer">Add guests</p></pre></button>
                
                  <div id="main" class=" main hidden flex-wrap border-[1px] bg-[#f9f9f9] rounded-3xl absolute shadow-2xl w-[38rem] h-[25rem] p-7 pb-[2rem] pt-8 mt-[4rem] -ml-[20rem] m">
                    <div onclick="hideShow()" class="absolute top-3 right-3 w-max  hover:bg-white" >
                       <div role="button" class="w-max pl-1 pr-1">
                          <i class="fa-solid fa-circle-xmark text-xl"></i>
                       </div>
                    </div> 
                  <div class="box flex ml-7 ">
                        <label for="name" class="text-xl">Adults <br> <p class="opacity-50 text-lg">Age 13 or above</p></label>
                        <button class="dec  border-[1px] border-black rounded-full w-14 ml-[155px] opacity-10 hover:opacity-100">-</button>
                        <input type="text" name="qty" id="q" value="0" class="inputfield ml-[2rem]  w-9 ">
                        <button class="inc border-[1px] border-black rounded-full w-14 opacity-50 hover:opacity-100">+</button>
                  </div>
               <p class="border-[0.1px] border-gray-300 w-[23rem] ml-7 mt-3 mb-2 "></p>
             
                <div class="box flex ml-7 ">
                    <label for="name" class="text-xl">Children <br> <p class="opacity-50 text-lg">Above 2-12</p></label>
                    <button class="dec  border-[1px] border-black rounded-full w-14 ml-[193px] opacity-10 hover:opacity-100">-</button>
                    <input type="text" name="qty" id="qq" value="0" class="inputfield ml-[2rem]  w-9 ">
                    <button class="inc border-[1px] border-black rounded-full w-14 opacity-50 hover:opacity-100">+</button>
                </div>
               <p class="border-[0.1px] border-gray-300 w-[23rem] ml-7 mt-3 mb-2 "></p>
             
               <div class="box flex  ml-7">
                 <label for="name" class="text-xl">Infants <br> <p class="opacity-50 text-lg">Under 2</p></label>
                 <button class="dec  border-[1px] border-black rounded-full w-14 ml-[220px] opacity-10 hover:opacity-100">-</button>
                 <input type="text" name="qty" id="qqq" value="0" class="inputfield ml-[2rem]  w-9 ">
                 <button class="inc  border-[1px] border-black rounded-full w-14 opacity-50 hover:opacity-100 ">+</button>
               </div>
               <p class="border-[0.1px] border-gray-300 ml-7 mt-3 mb-2 "></p>

             
               <div class="box flex ml-7">
                 <label for="name" class="text-xl">Pets <br> <p  onclick="hideShow33()" class="opacity-30 text-lg hover:opacity-100 border-b-[1px] border-black">Bringing a service animal?</p></label>
                 <button class="dec border-[1px] border-black rounded-full w-14 ml-[76px] opacity-10 hover:opacity-100">-</button>
                 <input type="text" name="qty" id="qqqq" value="0" class="inputfield ml-[2rem]  w-9">
                 <button class="inc border-[1px] border-black rounded-full w-14 opacity-50 hover:opacity-100 ">+</button>
               </div>
             </div>
            
             <div  class="flex-none mr-[13rem]">
              <div id="animal" class="border-[1px] hidden w-[40rem] mr-[13rem] rounded-xl p-[3rem] bg-[#f7f7f7] shadow-2xl absolute ">
                <div onclick="hideShow33()" class="absolute top-3 right-3 w-max  hover:bg-white" >
                  <div role="button" class="w-max pl-1 pr-1">
                     <i class="fa-solid fa-circle-xmark text-xl"></i>
                  </div>
              </div> 
               <img class="w-[46rem] h-[36rem]" src="https://a0.muscache.com/pictures/adafb11b-41e9-49d3-908e-049dfd6934b6.jpg" >
               <p class="text-2xl font-semibold mt-[1rem]">Service animals</p>
               <p class="mt-[1rem] text-lg">Service animals aren’t pets, so there’s no need to add them here.</p>
               <p class="mt-[1rem] text-lg">Travelling with an emotional support animal? Check out our</p>
               <form mehod="get" action="/animal">
                 <button class="text-xl opacity-40 hover:opacity-100 border-b-[0.5px] mt-2 hover:border-b-[2px] hover:border-b-black">accessibility policy. </button>
               </form>
              </div>
            </div>
            
          </div>  
          </div>
          

 
       


     <div class=" flex flex-col mt-[9px] ml-[10rem] max-xl:-ml-[4rem] max-[1040px]:-ml-[9rem] max-[795px]:-ml-[12rem] ">
        <div class=" flex rounded-3xl ">
                  <a class="font-semibold text-lg mr-3 " href="/listings/new" >Airhost your home</a>
              </div>
         <div class="border-[1px] border-gray-600  flex rounded-xl w-fit h-[40px] justify-end ml-[1rem] mt-[6px] ">
              <% if(!currUser){ %>
            <div  class="w-fit">
              <a class="mr-1 text-black" aria-current="page" href="/signup" ><b>Sign up</b></a> 
            </div>
            <var class="border-[0.4px] mr-1 border-gray-400"></var>
            
            <div >
              <a class="mr-2" href="/login" ><b>Log in</b></a>
             </div>
             <% } %>

              <% if(currUser) { %>
            <div  class="w-[5rem]">
               <a class="ml-3 text-center w-[5rem]" href="/logout" ><b>Log out</b></a>
            </div>
             <%  } %>
      </div>
  </div>    



        </div>
    </div>
</div>


    

<!--
              <div class=" mr-auto flex flex-col pl-0 lg:mt-1 lg:flex-row w-[100%] justify-end " data-te-navbar-nav-ref>
                          <div class=" flex rounded-3xl pr-2  justify-end mb-3">
                              <a class="" href="/listings/new" >Airbnb your home</a>
                          </div>
                <div class="border-2  flex rounded-3xl pr-2  justify-end">
                          <% if(!currUser){ %>
                        <div>
                          <a class="ml-3 text-black" aria-current="page" href="/signup" ><b>Sign up</b></a> | 
                        </div>
                        <div >
                          <a class="ml-3 " href="/login" ><b>Log in</b></a>
                         </div>
                         <% } %>

                          <% if(currUser) { %>
                        <div >
                           <a class="ml-3" href="/logout" ><b>Log out</b></a>
                        </div>
                         <%  } %>
                  </div>
              </div>
            -->
  
  </nav>

    
<script >
  let div3 = document.getElementById('animal');
  let display3 = 0;
  function hideShow33() {
    if(display3 == 1) {
      div3.style.display = 'block';
      display3 = 0;
    }
    else {
      div3.style.display = 'none';
      display3 = 1;
    }
  }
</script>
  
<script >
  let div2 = document.getElementById('learn');
  let display2 = 0;
  function hideShow22() {
    if(display2 == 1) {
      div2.style.display = 'block';
      display2 = 0;
    }
    else {
      div2.style.display = 'none';
      display2 = 1;
    }
  }
</script>
  
<script >
  let div1 = document.getElementById('lode');
  let display1 = 0;
  function hideShow11() {
    if(display1 == 1) {
      div1.style.display = 'block';
      display1 = 0;
    }
    else {
      div1.style.display = 'none';
      display1 = 1;
    }
  }
</script>


<script>
  let incrementButton = document.getElementsByClassName('inc');
  let decrementButton = document.getElementsByClassName('dec');
  for(let i=0; i<incrementButton.length; i++) {
    let button = incrementButton[i];
    button.addEventListener('click', function(event) {
      let buttonClicked = event.target;
      let input = buttonClicked.parentElement.children[2];
      let inputValue = input.value;
      let newValue = parseInt(inputValue) + 1;
      input.value = newValue;
    })
  }

  for(let i=0; i<decrementButton.length; i++) {
    let button = decrementButton[i];
    button.addEventListener('click', function(event) {
      let buttonClicked = event.target;
      let input = buttonClicked.parentElement.children[2];
      let inputValue = input.value;
      let newValue = parseInt(inputValue) - 1;
      if(newValue >= 0) {
      input.value = newValue;
      }
      else {
        input.value = 0;
        
      }
      
    })
  }
</script>
<script>
  function calculate() {
    let field1 = document.getElementById("q").value;
      let field2 = document.getElementById("qq").value;
      let field3 = document.getElementById("qqq").value;
      let field4 = document.getElementById("qqqq").value;

      let result = parseInt(field1)+parseInt(field2)+parseInt(field3)+parseInt(field3);
      if(!isNaN(result)) {
        document.getElementById("answer").innerHTML= "totall: "+result;
      }
  }
</script>
<script >
  let div = document.getElementById('main');
  let display = 0;
  function hideShow() {
    if(display == 1) {
      div.style.display = 'block';
      display = 0;
    }
    else {
      div.style.display = 'none';
      display = 1;
    }
  }
</script>

</body>
  </body>