<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airhost | Holiday rentals,cabins,beach house & more</title>
    <link rel=" icon" type="image/png" href="public/ffb9bc06766fd2534983c893e5758306.png" />
    <link href="public/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/rating.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    
</head> 
<body>

  <div class="  flex">
    <div>
      <div class="flex ml-[5rem] mt-[8rem]">
        <p class="font-semibold text-2xl ml-[3rem]">airhost</p>
        <p class="font-semibold text-2xl ml-1 rounded-xl border-[3px] w-[5rem] h-[37px] pl-2 border-black ">2023</p>
        <p class="font-semibold text-1xl ml-1 ">winter <br> Release</p>
      </div>
      <h1 class="text-7xl mx-auto text-center ml-[5rem] mt-[2rem] font-semibold">Know a great <br>stay when <br>you see one.</h1>
        <p class="mx-auto text-center font-extralight text-3xl ml-[5rem] mt-[3rem]" >Introducing Guest Favorites,<br> revamped reviews, and the <br>new Listings tab for Hosts.</p>
    </div>

      <div>
        <img src="https://a0.muscache.com/im/pictures/mediaverse/N8AnnouncementCurtainBackgroundLocalizedLarge/original/d991c3d1-aa3e-4d0a-a65a-e09c87ff0a51.jpeg?im_w=2560" class=" w-[48rem] ml-[11rem]  h-[49rem] rounded-3xl">
      </div>
 </div>


<div class="text-center  mt-[8rem]">
<p class=" text-7xl font-semibold">Introducing <br>Guest Favorites</p>
<p class="mt-[20px] text-3xl font-light">An all-new collection of the 2 million most loved <br>
  homes on Airhost, according to guests.
  </p>
</div>

<div class="mt-[12rem] ml-[15rem] flex">
  <div>
    <img src="https://a0.muscache.com/im/pictures/mediaverse/N8Asset/original/77ec4d99-6526-44fa-9651-898c2c9a03ff_en-US.png?im_w=960" class="w-[25rem]">
  </div>

  <div class="ml-[7rem] mt-[9rem]">
    <p class="text-3xl font-semibold ">Easy to find</p>
    <p class="mt-[12px] text-2xl font-light">
      It’s simple to spot Guest Favorites when <br> 
      searching for a home—just look for the  <br>
      new badge, or filter for only Guest Favorites.
    </p>
  </div>
</div>


<div class="mt-[12rem] ml-[15rem] flex">
  <div class=" mt-[9rem]">
    <p class="text-3xl font-semibold ">Loved by guests</p>
    <p class="mt-[12px] text-2xl font-light">
      Guest Favorites are rated above 4.9 stars on <br>
       average, and have excellent reviews, proven <br>
       reliability, and great Hosts.
  </div>

  <div class="ml-[7rem]">
    <img src="https://a0.muscache.com/im/pictures/mediaverse/N8Asset/original/cd888141-b3ac-42ce-9cd5-a2a74745a28f_en-US.png?im_w=960" class="w-[25rem]">
  </div>
</div>


<div class="text-center  mt-[12rem]">
  <p class=" text-7xl font-semibold">Reviews are now <br> a quicker read</p>
  <p class="mt-[20px] text-3xl font-light">We redesigned the way ratings and reviews are presented, <br>
     making it easier to understand each home.
    </p>
  </div>



  <div class="mt-[12rem] ml-[15rem] flex">
    <div>
      <img src="https://a0.muscache.com/im/pictures/mediaverse/N8Asset/original/e3bfb79a-f9aa-47eb-af74-3d3df056efdd_en-US.png?im_w=960" class="w-[20rem]">
    </div>
  
    <div class="ml-[7rem] mt-[7rem] ">
      <p class="text-2xl font-semibold ">See the rating distribution</p>
      <p class="mt-[7px] text-xl font-light">
        A new overall rating chart shows you a <br>
         breakdown of a home’s 1 to 5 star reviews.
      </p>
   

      <p class="text-2xl font-semibold mt-[1rem] ">Sort by recency and rating</p>
      <p class="mt-[7px] text-xl font-light">
        Now you can sort reviews to read the latest <br>
        and greatest from prior guests.
      </p>
  

    
      <p class="text-2xl font-semibold mt-[1rem]">Find relevant reviews</p>
      <p class="mt-[7px] text-xl font-light">
        New details, like type of trip or length of stay, <br>
         make it simple to pick out relevant reviews.
      </p>
</div>
  </div>
  

  <div class="mt-[9rem] ">
    <img src="https://a0.muscache.com/im/pictures/mediaverse/N8Asset/original/80e25ac1-a68f-4bd7-9f12-7b72568274a6_en-US.png?im_w=1440" class="w-[53rem] mx-auto justify-center text-center align-middle">
  </div>



  <div class="text-center  mt-[12rem]">
    <p class=" text-7xl font-semibold">A new Listings tab for Hosts.<br>
      More details for you.</p>
    <p class="mt-[20px] text-3xl font-light">The Listings tab helps Hosts more easily showcase <br>
       what makes their place special.
      </p>
    </div>

<div class="flex  mt-[9rem]">
  <div>
    <img src="https://a0.muscache.com/im/pictures/mediaverse/N8Asset/original/bcca2cdc-3bbb-4266-bee0-03241cefc606_en-US.png?im_w=960" class="w-[18rem] ml-[15rem]">
    <p class="text-2xl ml-[15rem] mt-[3rem]">Even more info on every home</p>
    <p class="text-xl ml-[8rem] mt-[5px] font-light">Hosts can now create an AI-powered photo tour, edit their <br>
      arrival guide, and share other details about their home in one <br>
      place—giving you a more complete look before you book.</p>
  </div>
  <div class="">
    <img src="https://a0.muscache.com/im/pictures/mediaverse/N8Asset/original/07f34fe1-14b8-4984-93c4-5bd39e1fd31a_en-US.png?im_w=960" class="w-[18rem] ml-[9rem]">
    <p class="text-2xl mt-[3rem] ml-[9rem]">Smooth check-ins with smart locks</p>
    <p class="text-xl ml-[6rem] mt-[5px] font-light">Soon, Hosts can connect their Airbnb accounts to <br>
      compatible smart locks in the US and Canada to <br>
       automatically manage entry codes.</p>
  </div>
</div>



<p class="mt-[9rem] border-[0.8px]" ></p>
<div class="flex mt-7">
  <div class="ml-7  max-[995px]:-ml-[3rem]">
      <p class="ml-[6rem] mt-4 font-semibold">Support</p>
      <form method="GET" action="/artical4">
      <button  class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px]  mt-1">Help Centre<button>
      </form>

      <form method="GET" action="/AirCover">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover</button>
      </form>

      <form method="GET" action="/Anti-discrimination">
      <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Anti-discrimination</button>
      </form>

      <form method="GET" action="/Disability-support">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Disability support</button>
      </form>

      <form method="GET" action="/Cancellation-options">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Cancellation options</button>
      </form>

      <form method="GET" action="/Report-neighbourhood-concern">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Report neighbourhood concern</button>
      </form>
  </div>

  <div class="ml-[10rem]  max-[1190px]:ml-[2rem] max-[900px]:-ml-[3rem] max-[830px]:-ml-[5rem]">
      <p class="ml-[6rem] mt-4 font-semibold">Hosting</p>
      <form method="GET" action="/Airbnb-your-home">
          <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] mt-1">Airhost your home</button>
      </form>

      <form method="GET" action="/AirCover-for-Hosts">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">AirCover for Hosts</button>
      </form>

      <form method="GET" action="/Hosting-resources">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting resources</button>
      </form>

      <form >
      <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Community forum</button>
      </form

      <form method="GET" action="/Hosting-responsibly">
      <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Hosting responsibly</button>
      </form>
  </div>

  <div class="ml-[12rem] max-[1190px]:ml-[3rem]  max-[830px]:-ml-[25px]">
      <p class="ml-[6rem] mt-4 font-semibold">Airbnb</p>
      <form method="GET" action="/Newsroom">
      <button class="ml-[6rem] font-light hover:border-b-black border-b-[0.3px] w-20 mt-1">Newsroom</button>
      </form>

      <form method="GET" action="/New-features">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-28 mt-2">New features</button>
      </form>

      <form method="GET" action="/Careers">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Careers</button>
      </form>

      <form method="GET" action="/Investors">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px] w-20  mt-2">Investors</button>
      </form>

      <form method="GET" action="/Airbnb.org-emergency-stays">
          <button class="ml-[6rem]  font-light hover:border-b-black border-b-[0.3px]  mt-2">Airhost.org emergency stays</button>
      </form>
  </div>
</div> 

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button> 
<p class="mt-7 border-[0.1px] border-gray-300" ></p>
<div class = "f-info flex h-[8rem] flex-wrap justify-center text-center align-center ">
  <div class ="f-info-socials w-[100%] text-xl flex items-center justify-center">
      <form method="get" action="https:www.facebook.com/AirbnbIndia">
          <button class="fa-brands fa-square-facebook mr-2"></button>
      </form>
      <form method="get"  action="https:www.instagram.com/airbnb/">
          <button class="fa-brands fa-square-instagram mr-2"></button>
      </form>
      <form method="get" action="https:twitter.com/i/flow/login?redirect_after_login=%2Fairbnb_in" >
          <button class="fa-brands fa-square-twitter"></button>
      </form>
      <form method="get" action="https:www.linkedin.com/company/airbnb/" >
          <button class="fa-brands fa-linkedin ml-[8px]"></button>
      </form>
  </div>
  <div class="f-info-brand  w-[100%] justify-center  align-middle flex items-center ">&copy; Wanderlust Private Limited</div>
  <div class ="f-info-links hover:underline w-[100%] align-middle flex items-center justify-center">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
  </div>
</div> 

</body>
</html>