
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airhost | Holiday rentals,cabins,beach house & more</title>
    <link rel=" icon" type="image/png" href="public/ffb9bc06766fd2534983c893e5758306.png" />
    <link href="public/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="/rating.css" rel="stylesheet" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    
</head> 
<body>
  <div class="flex w-full  ">
    <div class="  flex ">
         <a class="text-5xl font-bold mt-[1rem] text-red-600 ml-[2rem]" href="/artical4"><i class="fa-brands fa-airbnb"></i></a>
      <div class=" flex flex-col pl-0 max-[1125px]:-ml-[10rem] max-[1025px]:-ml-[20rem] max-[777px]:-ml-[22rem] ">
      
        <div class="flex flex-col pl-0  ml-[50rem]   mt-[1rem]" >
            <div class=" flex rounded-3xl pr-2 ">
                  <a class="text-lg mt-3" href="/listings/new" >Ready to Airhost it? </a>
            </div>

            <div class="border-[0.3px] border-black  rounded-lg flex  mt-2  p-2 pt-1 bg-red-500 h-[40px]"> 

              <div  class="ml-[1rem] relative ">
                     <button class="accordion text-white text-lg"><b> <i class="fa-solid fa-house-medical text-white pr-2 "></i> Airhost setup </b></button>
                    <div class="panel hidden overflow-hidden absolute border-[0.3px] border-black  w-[9rem] pl-6 h-[70px] pt-[16px] -pt-[13px] mt-[12px] bg-[#f7f9f7] shadow-2xl rounded-xl p-[1rem]" id="search">
                      <div onclick="hideShow1()" class="absolute top-0 right-1 w-max  hover:bg-white" >
                        <div role="button" class="w-max pl-1 pr-1">
                           <i class="fa-solid fa-circle-xmark text-xl"></i>
                        </div>
                    </div> 
                    <form action="/signup">
                      <button class=" border-[0.8px] bg-red-500  hover:bg-red-700 hover:border-red-600 w-[6rem] text-white rounded-xl shadow-lg  p-2 "> sign up</button>
                    </form>
       
      </div>
                </div> 
                </div>
        </div> 
      </div> 
    </div>
 </div>
 
<div class="ml-[15rem]  max-[1090px]:ml-[1rem]  mt-[4rem]   rounded-2xl pl-9  bg-transparent  max-[1150]:border-2 "> 
  <p class="text-3xl font-bold border-b-2 w-[15rem] mb-[2rem] mt-2 border-black shadow-sm">Login for Airhost:</p>
  <form method="POST" action="/login">
   <div class="mb-1 peer mt-4 form-field ">
       <label for="username">Username</label> <br>
       <i class="fa-solid fa-user text-lg"></i>
       <input class="peer relative  outline-none  focus:bg-white appearance-none  border-neutral-500 border-[1px] w-[50rem]  text-black  translate-x-1 opacity-50 mt-0 rounded-lg hover:opacity-100 hover:border-black hover:bg-white h-9    max-[1200px]:w-[700px] max-[1000px]:w-[600px] max-[700px]:w-[20rem] " name = "username"  type="text" required id="username"/>     
        
         
   </div>
  
   <div class="mb-1 peer  form-field mt-[2rem]">
       <label for="password">Password</label> <br>
       <i class="fa-solid fa-lock text-xl"></i> 
       <input class="peer relative   outline-none  focus:bg-white appearance-none  border-neutral-500 border-[1px] w-[50rem]  text-black  translate-x-1 opacity-50 mt-0 rounded-lg hover:opacity-100 hover:border-black hover:bg-white h-9   max-[1200px]:w-[700px] max-[1000px]:w-[600px]" name = "password"  type="password" required id="password"/>
         
   </div>
   <button class="border-[1px] text-white bg-[#378f32] mt-[1rem] p-2 w-[6rem] rounded-2xl text-lg  hover:border-black hover:bg-green-600">Login</button>
</form>
</div>


<script>
  var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

<script >
  let div1 = document.getElementById("search");
  let display1 = 0;
  function hideShow1() {
    if(display1 == 1) {
      div1.style.display = 'block';
      display1 = 0;
    }
    else {
      div1.style.display = 'none';
      display1 = 1;
    }
  }
</script>
</body>
</html>